{% extends "forms/_base_modal.html" %}
{% load floppyforms %}


{% block headline %}
<div class="modal-icon" id="icon_document"></div><h2>ADD DOCUMENT</h2>
{% endblock %}


{% block fields %}
    {% form form using %}
        {% formconfig row using "forms/signup_row.html" %}

        {% formrow form.title %}
        {% formrow form.file %}
        {% formrow form.url %}
        {% formrow form.categories %}
        {% formrow form.tags %}
        {% formrow form.privacy %}
    {% endform %}
{% endblock %}
