{% extends "base.html" %}
{% load floppyforms textformat %}

{% block content %}

<div id="content" class="clearfix">

	{% include "includes/topbar.html" %}

	<div class="container-fluid">

		<h3 class="withIcon icon_document"><span></span>THE ENGINE ROOM</h3>
        <a href="{% url "dashboard" %}" class="page-close"></a>

        <button class="btn btn-default action_addNew" data-target="#modal-form"{% if show_form %} data-open{% endif %}>ADD NEW DOCUMENT</button>

        {% include "documents/_document_form.html" with id="modal-form" form=form %}

        {{ category.description|textformat }}

		<div class="row">
			<div class="col-md-12">
				<br>
				<form class="form-inline instant-submit" role="form">
                {% form search_form using %}
                    {% formconfig row using "forms/signup_row.html" %}
					<div class="form-group">
						<label for="id_region">Filter by area</label>
                        {% formfield form.region %}
					</div>
					<div class="form-group">
						<label for="id_category">Filter by type</label>
                        {% formfield form.category %}
					</div>
                {% endform %}
				</form>

				<br>
                {% if document_list %}
                    <table class="table table-striped">
                        <thead>
                            <th>Title</th>
                            <th>Added by</th>
                            <th>Date added</th>
                            <th>File type</th>
                            <th>Size</th>
                            <th>Downloads</th>
                        </thead>
                        <tbody>
                        {% for document in document_list %}
                            <tr>
                                <td><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></td>
                                <td>{{ document.local_mind }}</td>
                                <td>{{ document.created|date:"d/m/Y" }}</td>
                                <td>{% if document.file_type %}{{ document.file_type|upper }}{% endif %}</td>
                                <td>{% if document.file %}{{ document.file.size|filesizeformat }}{% endif %}</td>
                                <td>{{ document.download_count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
			</div>
		</div>

	</div>

</div> <!-- CONTENT -->

{% endblock %}
