/.env/
/.dump.json
/logs
/media/_autofixture/
/media/documents/
/media/mediastore/
/media/users/
/media/signup/
/node_modules/
/static/dist/
/static/libs/
/static/styles/.sass-cache/
/server_settings.py
.DS_Store
*.pyc
db.sqlite
/src/website/local_settings.py
