{% extends "base_page.html" %}
{% load floppyforms %}


{% block title %}Login &amp; Signup{% endblock %}


{% block pagecontent %}
<div id="large-logos"></div>
<p>Welcome to the Open Hub, a place for connecting, collaborating, learning and celebrating. Every year the Mind network delivers XXXX services to XXXXX people a year. That is an amazing amount of work with a huge amount of impact. The Open Hub is here to support and extend that.</p>

<div class="center-block" style="width:92px; margin-bottom:20px">
    <a href="#log-in" data-toggle="tab" class="active">Login</a> / <a href="#sign-up" data-toggle="tab">Signup</a>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="log-in">

    <div class="login">
        {% form login_form using %}
        <form action="" method="post" role="form">{% csrf_token %}
        {% formconfig field with inline_label="Your email" for form.username  %}
        {% formconfig field with inline_label="Password" for form.password %}

        {% form login_form using "forms/form.html" with inline_label=1 %}
        <div class="text-center">
        {% include "forms/submit.html" with label="Login" name="login" only %}
        </div>
        <p class="text-center"><a href="{% url "password-reset" %}">Password forgotten?</a></p>
        </form>
        {% endform %}
    </div>

    </div>
    <div class="tab-pane fade" id="sign-up">
    <div class="signup">
        {% form signup_form using %}
        {% formconfig row using "forms/row.html" %}
        <form action="" method="post" role="form">{% csrf_token %}
        <p>Don't have an account yet?</p>

        {% formrow form.email with inline_label="Your email" %}
        {% include "forms/submit.html" with label="Signup" name="signup" only %}
        </form>
        {% endform %}
    </div>
    </div>
</div>
{% endblock %}
