{% extends "base.html" %}
{% load floppyforms %}


{% block title %}Login &amp; Signup{% endblock %}


{% block content %}
<div class="login">
    {% form login_form using %}
        {% formconfig row using "forms/row.html" %}
        <form action="" method="post" role="form">{% csrf_token %}
            {% formrow form.email with inline_label="Your email" %}
            {% formrow form.password with inline_label="Password" %}

            {% include "forms/submit.html" with label="Login" name="login" only %}
        </form>
    {% endform %}
</div>

<div class="signup">
    {% form signup_form using %}
        {% formconfig row using "forms/row.html" %}
        <form action="" method="post" role="form">{% csrf_token %}
            <p>Don't have an account yet?</p>

            {% formrow form.email with inline_label="Your email" %}
            {% include "forms/submit.html" with label="Signup" name="signup" only %}
        </form>
    {% endform %}
</div>
{% endblock %}
