{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    {% form form using %}
        {% formconfig row using "forms/signup_row.html" %}

        <div class="row">
            <div class="col-md-6">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <h4>INVITE COLLEAGUES</h4>
              </div>
            </div>
        </div>

        {% with formset=form.formsets.invites %}
        <div data-formset-prefix="{{ formset.prefix }}" data-formset-form-list=".formset-form-list">
            {{ formset.management_form }}

            <div class="formset-form-list">
            {% for form in formset %}
                <div class="row">
                    <div class="col-md-6">
                        {% formrow form.first_name %}
                    </div>
                    <div class="col-md-6">
                        {% formrow form.last_name %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% formrow form.email %}
                    </div>
                    <div class="col-md-6">
                        {% formrow form.privileges %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% formrow form.job_title %}
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                {% if not forloop.last %}
                <hr />
                {% endif %}
            {% endfor %}
            </div>

            {% include "forms/add_another_button.html" %}

            <div class="template">
            {% with form=formset.empty_form %}
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        {% formrow form.first_name %}
                    </div>
                    <div class="col-md-6">
                        {% formrow form.last_name %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% formrow form.email %}
                    </div>
                    <div class="col-md-6">
                        {% formrow form.privileges %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% formrow form.job_title %}
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            {% endwith %}
            </div>
        </div>
        {% endwith %}

    {% endform %}

{% endblock %}
