{% extends "base.html" %}


{% block bodyclass %}signup{% endblock %}


{% block content %}

<h2>Openhub</h2>
<h3>Sign up to Openhub</h3>

{% block progress %}
<div>Section {{ wizard.steps.step1 }}/5</div>

<ol>
    <li>
        {% if wizard.steps.step1 > 1 %}
            <a href="{% url "signup" token=view.kwargs.token uidb36=view.kwargs.uidb36 step="local-mind" %}">Step 1</a>
        {% else %}
            Step 1
        {% endif %}
    </li>
    <li>
        {% if wizard.steps.step1 > 2 %}
            <a href="{% url "signup" token=view.kwargs.token uidb36=view.kwargs.uidb36 step="profile" %}">Step 2</a>
        {% else %}
            Step 2
        {% endif %}
    </li>
    <li>
        {% if wizard.steps.step1 > 3 %}
            <a href="{% url "signup" token=view.kwargs.token uidb36=view.kwargs.uidb36 step="members" %}">Step 3</a>
        {% else %}
            Step 3
        {% endif %}
    </li>
    <li>
        {% if wizard.steps.step1 > 4 %}
            <a href="{% url "signup" token=view.kwargs.token uidb36=view.kwargs.uidb36 step="partners" %}">Step 4</a>
        {% else %}
            Step 4
        {% endif %}
    </li>
    <li>
        {% if wizard.steps.step1 > 5 %}
            <a href="{% url "signup" token=view.kwargs.token uidb36=view.kwargs.uidb36 step="invites" %}">Step 5</a>
        {% else %}
            Step 5
        {% endif %}
    </li>
</ol>
{% endblock %}

<form action="" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
    {{ wizard.management_form }}

    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
    {% endif %}

    {% block section %}

    {% endblock %}
</form>

{% endblock %}
