{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    <div class="row">
      <div class="col-md-6">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <h4>YOUR PROFILE</h4>
          <br/>
        </div>
      </div>
    </div>

    {% form form using %}
        {% formconfig row using "forms/signup_row.html" %}

        <div class="row">
            <div class="col-md-6">
                {% formrow form.first_name with tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." %}
            </div>
            <div class="col-md-6">
                {% formrow form.last_name %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% formrow form.job_title %}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="id_email" name="email" readonly="true" value="{{ email }}" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% formrow form.password1 %}
            </div>
            <div class="col-md-6">
                {% formrow form.password2 %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% formrow form.skills %}
            </div>
            <div class="col-md-6">
                {% formrow form.user_avatar using "forms/signup_row_file_field.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% formrow form.biography using "forms/signup_row_inline_help.html" %}
            </div>
            <div class="col-md-6">
                {% formrow form.telephone %}
                {% formrow form.twitter with placeholder="@" %}
            </div>
        </div>


        {% with formset=form.formsets.experiences %}
            {{ formset.management_form }}
            <div class="row">
                <div class="col-md-6">
                    {% formrow formset.forms.0.experience using "forms/signup_row_inline_help.html" with tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." %}
                </div>
                <div class="col-md-6">
                    {% formrow formset.forms.1.experience using "forms/signup_row_inline_help.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% formrow formset.forms.2.experience using "forms/signup_row_inline_help.html" %}
                </div>
                <div class="col-md-6">
                    {% formrow formset.forms.3.experience using "forms/signup_row_inline_help.html" %}
                </div>
            </div>
        {% endwith %}

        <div class="row">
          <div class="col-md-6">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <h4>Task Queue</h4>
              <small>Please submit any task below, they will automatically be assigned to you</small>
            </div>
          </div>
        </div>

        {% with formset=form.formsets.tasks %}
        <div data-formset-prefix="{{ formset.prefix }}" data-formset-form-list=".row:first">
            {{ formset.management_form }}

            <div class="row">
                {% for form in formset %}
                    <div class="col-md-6 formset-form">
                    {% formrow form.text using "forms/signup_row_inline_help.html" %}
                    </div>
                {% endfor %}
            </div>

            {% include "forms/add_another_button.html" %}

            {% with form=formset.empty_form %}
                <div class="col-md-6 formset-form template">
                    {% formrow form.text using "forms/signup_row_inline_help.html" %}
                </div>
            {% endwith %}
        </div>
        {% endwith %}

    {% endform %}

{% endblock %}
