{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_localMind" class="col-sm-3 control-label">Local Mind</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_localMind" name="input_localMind" readonly="true" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_lmContactEmail" class="col-sm-3 control-label">LM Contact Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="input_lmContactEmail" name="input_lmContactEmail" readonly="true" value="">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_region" class="col-sm-3 control-label">Region</label>
          <div class="col-sm-9">
            <select type="text" class="form-control" id="input_region" name="input_region" readonly="true">
            <option value="East of England">East of England</option>
            <option value="East Midlands">East Midlands</option>
            <option value="London">London</option>
            <option value="North East">North East</option>
            <option value="North West">North West</option>
            <option value="South East">South East</option>
            <option value="South West">South West</option>
            <option value="Wales">Wales</option>
            <option value="West Midlands">West Midlands</option>
            <option value="Yorkshire and The Humber">Yorkshire and The Humber</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_telNumber" class="col-sm-3 control-label">Tel Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_telNumber" name="input_telNumber" readonly="true" value="">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_address" class="col-sm-3 control-label">Address</label>
          <div class="col-sm-9">
            <textarea rows="5" class="form-control" id="input_address" name="input_address" readonly="true"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_website" class="col-sm-3 control-label">Website</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_website" name="input_website" readonly="true" value="">
          </div>
        </div>

        <div class="form-group">
          <label for="input_lmIncome" class="col-sm-3 control-label">LM Income<p class="help-block">(unrestricted)</p></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_lmIncome" name="input_lmIncomeUnrestricted" readonly="true" value="">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_postcode" class="col-sm-3 control-label">Postcode</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_postcode" name="input_postcode" readonly="true" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_lmReserves" class="col-sm-3 control-label">LM Reserves</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_lmReserves" name="input_lmReserves" readonly="true" value="">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_lmIncome" class="col-sm-3 control-label">LM Income<p class="help-block">(unrestricted)</p></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_lmIncome" name="input_lmIncomeUnrestricted" readonly="true" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_lmSurplusDeficit" class="col-sm-3 control-label">LM Surplus/Deficit</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_lmSurplusDeficit" name="input_lmSurplusDeficit" readonly="true" value="">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_LMExpenditure" class="col-sm-3 control-label">LM Expenditure</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_LMExpenditure" name="input_LMExpenditure" readonly="true" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="input_charityNumber" class="col-sm-3 control-label">Charity Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input_charityNumber" name="input_charityNumber" readonly="true" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_missionStatement" class="col-sm-3 control-label">Mission Statement</label>
          <div class="col-sm-9">
            <textarea rows="5" class="form-control" id="input_missionStatement" name="input_missionStatement" readonly="true" ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_charityType" class="col-sm-3 control-label">Charity Type</label>
          <div class="col-sm-9">
            <select class="form-control" id="input_charityType" name="input_charityType">
              <option>Unincorporated</option>
              <option>Company Limited by Guarantee</option>
              <option>Charitable Incorporated Organisation</option>
              <option>Other</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_lmProfileImage" class="col-sm-3 control-label">LM Profile Image</label>
          <div class="col-sm-9">
            <input type="file" class="form-control" id="input_lmProfileImage" name="input_lmProfileImage">
            <p class="help-block">Maximum size of 500kb. Only JPG, PNG accepted</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="input_terms" class="col-sm-3 control-label">Terms</label>
          <div class="col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="" id="input_terms" name="input_terms">We (above LM) agree to all terms and conditions of the openhub site</label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-default center-block">Next</button>







    {% form form using %}

        {% formrow form.name %}
        {% formrow form.region %}
        {% formrow form.address %}
        {% formrow form.postcode %}
        {% formrow form.income_restricted %}
        {% formrow form.charity_no %}
        {% formrow form.charity_type %}
        {% formrow form.email %}
        {% formrow form.telephone %}
        {% formrow form.website %}
        {% formrow form.income_unrestricted %}
        {% formrow form.reserves %}
        {% formrow form.deficit %}
        {% formrow form.statement %}
        {% formrow form.hours %}
        {% formrow form.group_avatar %}
        {% formrow form.accept_tos %}

    {% endform %}

    <input type="submit" name="submit" value="submit" />

{% endblock %}
