{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    {% form form using %}
        <h3>Invite colleagues</h3>

        {% with formset=form.formsets.invites %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.first_name %}
                {% formrow form.last_name %}
                {% formrow form.email %}
                {% formrow form.privileges %}
                {% formrow form.job_title %}
            {% endfor %}
        {% endwith %}

    {% endform %}

    <input type="submit" name="submit" value="submit" />

{% endblock %}
