{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    {% form form using %}

        {% formrow form.staff_count %}
        {% formrow form.trustees_count %}
        {% formrow form.volunteers_count %}
        {% formrow form.trustees_active %}
        {% formrow form.area_of_benefit %}
        {% formrow form.average_volunteer_hours %}

        <h3>Chairman</h3>
        {% formrow form.forms.chair.name %}
        {% formrow form.forms.chair.ethnicity %}
        {% formrow form.forms.chair.gender %}
        {% formrow form.forms.chair.email %}
        {% formrow form.forms.chair.telephone %}

        <h3>Ceo One</h3>
        {% formrow form.forms.ceo_one.name %}
        {% formrow form.forms.ceo_one.ethnicity %}
        {% formrow form.forms.ceo_one.gender %}
        {% formrow form.forms.ceo_one.email %}
        {% formrow form.forms.ceo_one.telephone %}

        <h3>Ceo Two</h3>
        {% formrow form.forms.ceo_two.name %}
        {% formrow form.forms.ceo_two.ethnicity %}
        {% formrow form.forms.ceo_two.gender %}
        {% formrow form.forms.ceo_two.email %}
        {% formrow form.forms.ceo_two.telephone %}

        <h3>Service informations</h3>
        <p class="help">Please submit any task below - they will automatically be assigned to you</p>

        {% with formset=form.formsets.services %}
        <div data-formset-prefix="{{ formset.prefix }}">
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.name %}
                {% formrow form.type %}
                {% formrow form.users_count %}
            {% endfor %}

            <a class="add-another">Add another</a>

            <div class="template">
            {% with form=formset.empty_form %}
                {% formrow form.name %}
                {% formrow form.type %}
                {% formrow form.users_count %}
            {% endwith %}
            </div>
        </div>
        {% endwith %}

        <h3>Questions &amp; Answers</h3>
        <p class="help">Post any questions the network can help answer</p>

        {% with formset=form.formsets.faqs %}
        <div data-formset-prefix="{{ formset.prefix }}">
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.question %}
                {% formrow form.notifications %}
                {% formrow form.privacy %}
            {% endfor %}

            <a class="add-another">Add another</a>

            <div class="template">
            {% with form=formset.empty_form %}
                {% formrow form.question %}
                {% formrow form.notifications %}
                {% formrow form.privacy %}
            {% endwith %}
            </div>
        </div>
        {% endwith %}

    {% endform %}

    <input type="submit" name="submit" value="submit" />

{% endblock %}
