{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}


    {% form form using %}

        {% formrow form.first_name %}
        {% formrow form.last_name %}
        {% formrow form.job_title %}

        <p>
        Email: {{ email }}
        </p>

        {% formrow form.email %}
        {% formrow form.password1 %}
        {% formrow form.password2 %}
        {% formrow form.skills %}
        {% formrow form.user_avatar %}
        {% formrow form.biography %}
        {% formrow form.telephone %}
        {% formrow form.mobile %}
        {% formrow form.twitter %}

        {% with formset=form.formsets.experiences %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.experience %}
            {% endfor %}
        {% endwith %}

        <h3>Task Queue</h3>
        <p class="help">Please submit any task below - they will automatically be assigned to you</p>

        {% with formset=form.formsets.tasks %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.text %}
            {% endfor %}
        {% endwith %}

    {% endform %}

    <input type="submit" name="submit" value="submit" />

{% endblock %}
