{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    <div class="row">
    <div class="col-md-6">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
        <h4>LOCAL MIND DETAILS</h4>
        </div>
    </div>
    </div>

    {% form form using %}
        {% formconfig row using "forms/signup_row.html" %}

        <div class="row">
            <div class="col-md-6">
                {% formrow form.name %}
            </div>
            <div class="col-md-6">
                {% formrow form.email %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.region %}
            </div>
            <div class="col-md-6">
                {% formrow form.telephone %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.address %}
            </div>
            <div class="col-md-6">
                {% formrow form.website %}
                {% formrow form.income_unrestricted %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.postcode %}
            </div>
            <div class="col-md-6">
                {% formrow form.reserves %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.income_unrestricted %}
            </div>
            <div class="col-md-6">
                {% formrow form.deficit with label="Total expenditure" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Expenditure?<br />
                {% formrow form.charity_no %}
            </div>
            <div class="col-md-6">
                {% formrow form.statement %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.charity_type %}
                {% formrow form.group_avatar %}
            </div>
            <div class="col-md-6">
                {% formrow form.hours %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% formrow form.accept_tos using "forms/checkbox_row.html" %}
            </div>
        </div>

    {% endform %}

{% endblock %}
