{% extends "registration/signup_base.html" %}
{% load floppyforms %}


{% block section %}

    {% form form using %}

        <h3>Resources to share</h3>
        <p class="help">Please enter any resource you have to share with local community</p>

        {% with formset=form.formsets.resources %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.name %}
                {% formrow form.privacy %}
            {% endfor %}
        {% endwith %}

        <h3>Key partners</h3>
        <p class="help">Please submit any partner you have</p>

        {% with formset=form.formsets.key_partners %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.name %}
                {% formrow form.email %}
                {% formrow form.address %}
                {% formrow form.telephone %}
                {% formrow form.relationship %}
                {% formrow form.postcode %}
                {% formrow form.category %}
                {% formrow form.website %}
                {% formrow form.privacy %}
            {% endfor %}
        {% endwith %}

        <h3>Positive news</h3>
        <p class="help">Tell us about the best thing to happen in the last month</p>

        {% with formset=form.formsets.positive_news %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% formrow form.title %}
                {% formrow form.description %}
                {% formrow form.date %}
                {% formrow form.tags %}
            {% endfor %}
        {% endwith %}

    {% endform %}

    <input type="submit" name="submit" value="submit" />

{% endblock %}
