{% extends "registration/signup_base.html" %}


{% block section %}

    <p>
        TODO: Ordering fields.<br />
        TODO: Showing email as readonly.
        TODO: Task Queue formset.
    </p>

    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_p }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_p }}
    {% endif %}

    <input type="submit" name="submit" value="submit" />

{% endblock %}

