{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}dist/styles/gridster.css" />
{% endblock %}

{% block content %}

	<div id="content" class="clearfix">
<div id="mind-signup-form">
        <div class="container">
          <div class="center-block text-center">
            <div id="logo-form"></div>
            <h2>SIGN UP TO OPEN HUB</h2>
            <p class="lead">Section 3/5</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <p>LM FURTHER DETAILS</p>
              </div>
            </div>
          </div>


          <form class="form-horizontal" role="form">


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoOneName" class="col-sm-3 control-label">CEO one name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_ceoOneName" name="input_ceoOneName">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoOneEthnicity" class="col-sm-3 control-label">CEO One Ethnicity</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_ceoOneEthnicity" name="input_ceoOneEthnicity">
                      <option value="White British">White British</option>
                      <option value="White Irish">White Irish</option>
                      <option value="Any other White background">Any other White background</option>
                      <option value="White and Black African">White and Black African</option>
                      <option value="White and Asian">White and Asian</option>
                      <option value="White and Black Caribbean">White and Black Caribbean</option>
                      <option value="Other mixed background">Other mixed background</option>
                      <option value="Indian">Indian</option>
                      <option value="Pakistani">Pakistani</option>
                      <option value="Bangladeshi">Bangladeshi</option>
                      <option value="Any other Asian background">Any other Asian background</option>
                      <option value="Caribbean">Caribbean</option>
                      <option value="African">African</option>
                      <option value="Any other Black background">Any other Black background</option>
                      <option value="Chinese">Chinese</option>
                      <option value="Gypsy or Traveller">Gypsy or Traveller</option>
                      <option value="Other ethnic group">Other ethnic group</option>
                      <option value="We do not collect this information">We do not collect this information</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_gender" class="col-sm-3 control-label">Gender</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_gender" name="input_gender">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoOneEmail" class="col-sm-3 control-label">CEO One Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="input_ceoOneEmail" name="input_ceoOneEmail">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoOneContactNumber" class="col-sm-3 control-label">CEO One Contact Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_ceoOneContactNumber" name="input_ceoOneContactNumber">
                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoTwoName" class="col-sm-3 control-label">CEO two name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_ceoTwoName" name="input_ceoTwoName">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoTwoEthnicity" class="col-sm-3 control-label">CEO two Ethnicity</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_ceoTwoEthnicity" name="input_ceoTwoEthnicity">
                      <option value="White British">White British</option>
                      <option value="White Irish">White Irish</option>
                      <option value="Any other White background">Any other White background</option>
                      <option value="White and Black African">White and Black African</option>
                      <option value="White and Asian">White and Asian</option>
                      <option value="White and Black Caribbean">White and Black Caribbean</option>
                      <option value="Other mixed background">Other mixed background</option>
                      <option value="Indian">Indian</option>
                      <option value="Pakistani">Pakistani</option>
                      <option value="Bangladeshi">Bangladeshi</option>
                      <option value="Any other Asian background">Any other Asian background</option>
                      <option value="Caribbean">Caribbean</option>
                      <option value="African">African</option>
                      <option value="Any other Black background">Any other Black background</option>
                      <option value="Chinese">Chinese</option>
                      <option value="Gypsy or Traveller">Gypsy or Traveller</option>
                      <option value="Other ethnic group">Other ethnic group</option>
                      <option value="We do not collect this information">We do not collect this information</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_gender" class="col-sm-3 control-label">Gender</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_gender" name="input_gender">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoTwoEmail" class="col-sm-3 control-label">CEO Two Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="input_ceoTwoEmail" name="input_ceoTwoEmail">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_ceoTwoContactNumber" class="col-sm-3 control-label">CEO Two Contact Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_ceoTwoContactNumber" name="input_ceoTwoContactNumber">
                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_noOfStaff" class="col-sm-3 control-label">No of Staff</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_noOfStaff" name="input_noOfStaff">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_noOfTrustees" class="col-sm-3 control-label">No of Trustees</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_noOfTrustees" name="input_noOfTrustees">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_noOfVolunteers" class="col-sm-3 control-label">No of Volunteers</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_noOfVolunteers" name="input_noOfVolunteers">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_trusteesWhoUseMHServices" class="col-sm-3 control-label">% trustees who use MH Services</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_trusteesWhoUseMHServices" name="input_trusteesWhoUseMHServices">
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_areaOfBenifit" class="col-sm-3 control-label">Area of benifit</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_areaOfBenifit" name="input_areaOfBenifit">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_avgHoursVolunteer" class="col-sm-3 control-label">Avg hours volunteer provide per week</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_avgHoursVolunteer" name="input_avgHoursVolunteer">
                  </div>
                </div>
              </div>
            </div>

          *
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_chairName" class="col-sm-3 control-label">Chair name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_chairName" name="input_chairName">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_chairEthnicity" class="col-sm-3 control-label">Chair Ethnicity</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_chairEthnicity" name="input_chairEthnicity">
                      <option value="White British">White British</option>
                      <option value="White Irish">White Irish</option>
                      <option value="Any other White background">Any other White background</option>
                      <option value="White and Black African">White and Black African</option>
                      <option value="White and Asian">White and Asian</option>
                      <option value="White and Black Caribbean">White and Black Caribbean</option>
                      <option value="Other mixed background">Other mixed background</option>
                      <option value="Indian">Indian</option>
                      <option value="Pakistani">Pakistani</option>
                      <option value="Bangladeshi">Bangladeshi</option>
                      <option value="Any other Asian background">Any other Asian background</option>
                      <option value="Caribbean">Caribbean</option>
                      <option value="African">African</option>
                      <option value="Any other Black background">Any other Black background</option>
                      <option value="Chinese">Chinese</option>
                      <option value="Gypsy or Traveller">Gypsy or Traveller</option>
                      <option value="Other ethnic group">Other ethnic group</option>
                      <option value="We do not collect this information">We do not collect this information</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_gender" class="col-sm-3 control-label">Gender</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_gender" name="input_gender">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_chairEmail" class="col-sm-3 control-label">Chair Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="input_chairEmail" name="input_chairEmail">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_chairContactNumber" class="col-sm-3 control-label">Chair Contact Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_chairContactNumber" name="input_chairContactNumber">
                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>


          <div class="row">
            <div class="col-md-6">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <p>SERVICE INFORMATIONS</p>
                <small>Please submit any task below, they will automatically assigned to you</small>
              </div>
            </div>
          </div>

          <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-3">
              <div class="form-group">
                <label for="input_service">Service Type</label>
                <select class="form-control" id="input_service" name="input_service">
                  <option value="Counselling">Counselling</option>
<option value="Psychological therapies">Psychological therapies</option>
<option value="IAPT">IAPT</option>
<option value="CBT">CBT</option>
<option value="Anger management">Anger management</option>
<option value="Anxiety support">Anxiety support</option>
<option value="Social groups">Social groups</option>
<option value="Drop ins">Drop ins</option>
<option value="Wellbeing services">Wellbeing services</option>
<option value="Training">Training</option>
<option value="Employment advice and support">Employment advice and support</option>
<option value="Volunteering">Volunteering</option>
<option value="Supported housing">Supported housing</option>
<option value="Supported employment opportunities">Supported employment opportunities</option>
<option value="Community Mental Health Advocacy">Community Mental Health Advocacy</option>
<option value="IMCA">IMCA</option>
<option value="IMHA">IMHA</option>
<option value="Befriending">Befriending</option>
<option value="Peer support services">Peer support services</option>
<option value="Ecotherapy">Ecotherapy</option>
<option value="Healthy lifestyles">Healthy lifestyles</option>
<option value="Physical wellbeing services">Physical wellbeing services</option>
<option value="Mental health first aid">Mental health first aid</option>
<option value="Stress management">Stress management</option>
<option value="Information services">Information services</option>
<option value="Helplines">Helplines</option>
<option value="Information resources">Information resources</option>
<option value="Veterans services">Veterans services</option>
<option value="Young peoples services">Young peoples services</option>
<option value="LGBT services">LGBT services</option>
<option value="BME services">BME services</option>
<option value="Physical disability services">Physical disability services</option>
<option value="Offenders services">Offenders services</option>
<option value="Older peoples services">Older peoples services</option>
<option value="Arts and creative activities">Arts and creative activities</option>
<option value="Services for women">Services for women</option>
<option value="Services for men">Services for men</option>
<option value="Pregnancy/parenting support">Pregnancy/parenting support</option>
<option value="Advice services">Advice services</option>
<option value="Cafe">Cafe</option>
<option value="Learning Disability">Learning Disability</option>
<option value="Carers">Carers</option>
<option value="Young carers">Young carers</option>
<option value="Suicide">Suicide</option>
<option value="Depression">Depression</option>
<option value="Money">Money</option>
<option value="IT support and resources">IT support and resources</option>
<option value="Drug and alcohol related services">Drug and alcohol related services</option>
<option value="Community based support services">Community based support services</option>
<option value="Independent living support">Independent living support</option>
<option value="Resource centres">Resource centres</option>
<option value="Residential care">Residential care</option>
<option value="Holistic therapies">Holistic therapies</option>
<option value="Charity Shop">Charity Shop</option>
<option value="Relaxation services">Relaxation services</option>
<option value="Self help services">Self help services</option>
<option value="Social activities">Social activities</option>
<option value="User involvement">User involvement</option>
<option value="Mentoring">Mentoring</option>
<option value="Social prescribing">Social prescribing</option>
<option value="Sports groups">Sports groups</option>
<option value="Condition specific support groups">Condition specific support groups</option>
<option value="Crisis accommodation">Crisis accommodation</option>
<option value="Home support">Home support</option>
<option value="Personal budgets management services">Personal budgets management services</option>
<option value="Dementia Services">Dementia Services</option>
<option value="Young Afro/Caribbean men">Young Afro/Caribbean men</option>
<option value="Other">Other</option>

                </select>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="input_serviceType">Service Component</label>
                <select class="form-control" id="input_serviceType" name="input_serviceType">
                  <option>Phone Based Support</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>

              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="input_activeUsers">Active Users</label>
                <input class="form-control" id="input_activeUsers" name="input_activeUsers">
              </div>
            </div>
          </div>

          <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-3">
              <div class="form-group">
                <label for="input_service">Service Type</label>
                <select class="form-control" id="input_service" name="input_service">
                  <option value="Counselling">Counselling</option>
<option value="Psychological therapies">Psychological therapies</option>
<option value="IAPT">IAPT</option>
<option value="CBT">CBT</option>
<option value="Anger management">Anger management</option>
<option value="Anxiety support">Anxiety support</option>
<option value="Social groups">Social groups</option>
<option value="Drop ins">Drop ins</option>
<option value="Wellbeing services">Wellbeing services</option>
<option value="Training">Training</option>
<option value="Employment advice and support">Employment advice and support</option>
<option value="Volunteering">Volunteering</option>
<option value="Supported housing">Supported housing</option>
<option value="Supported employment opportunities">Supported employment opportunities</option>
<option value="Community Mental Health Advocacy">Community Mental Health Advocacy</option>
<option value="IMCA">IMCA</option>
<option value="IMHA">IMHA</option>
<option value="Befriending">Befriending</option>
<option value="Peer support services">Peer support services</option>
<option value="Ecotherapy">Ecotherapy</option>
<option value="Healthy lifestyles">Healthy lifestyles</option>
<option value="Physical wellbeing services">Physical wellbeing services</option>
<option value="Mental health first aid">Mental health first aid</option>
<option value="Stress management">Stress management</option>
<option value="Information services">Information services</option>
<option value="Helplines">Helplines</option>
<option value="Information resources">Information resources</option>
<option value="Veterans services">Veterans services</option>
<option value="Young peoples services">Young peoples services</option>
<option value="LGBT services">LGBT services</option>
<option value="BME services">BME services</option>
<option value="Physical disability services">Physical disability services</option>
<option value="Offenders services">Offenders services</option>
<option value="Older peoples services">Older peoples services</option>
<option value="Arts and creative activities">Arts and creative activities</option>
<option value="Services for women">Services for women</option>
<option value="Services for men">Services for men</option>
<option value="Pregnancy/parenting support">Pregnancy/parenting support</option>
<option value="Advice services">Advice services</option>
<option value="Cafe">Cafe</option>
<option value="Learning Disability">Learning Disability</option>
<option value="Carers">Carers</option>
<option value="Young carers">Young carers</option>
<option value="Suicide">Suicide</option>
<option value="Depression">Depression</option>
<option value="Money">Money</option>
<option value="IT support and resources">IT support and resources</option>
<option value="Drug and alcohol related services">Drug and alcohol related services</option>
<option value="Community based support services">Community based support services</option>
<option value="Independent living support">Independent living support</option>
<option value="Resource centres">Resource centres</option>
<option value="Residential care">Residential care</option>
<option value="Holistic therapies">Holistic therapies</option>
<option value="Charity Shop">Charity Shop</option>
<option value="Relaxation services">Relaxation services</option>
<option value="Self help services">Self help services</option>
<option value="Social activities">Social activities</option>
<option value="User involvement">User involvement</option>
<option value="Mentoring">Mentoring</option>
<option value="Social prescribing">Social prescribing</option>
<option value="Sports groups">Sports groups</option>
<option value="Condition specific support groups">Condition specific support groups</option>
<option value="Crisis accommodation">Crisis accommodation</option>
<option value="Home support">Home support</option>
<option value="Personal budgets management services">Personal budgets management services</option>
<option value="Dementia Services">Dementia Services</option>
<option value="Young Afro/Caribbean men">Young Afro/Caribbean men</option>
<option value="Other">Other</option>

                </select>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="input_serviceType">Service Component</label>
                <select class="form-control" id="input_serviceType" name="input_serviceType">
                  <option>Phone Based Support</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>

              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="input_activeUsers">Active Users</label>
                <input class="form-control" id="input_activeUsers" name="input_activeUsers">
              </div>
            </div>
          </div>

          <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-3">
              <div class="form-group">
                <label for="input_service">Service Type</label>
                <select class="form-control" id="input_service" name="input_service">
                  <option value="Counselling">Counselling</option>
<option value="Psychological therapies">Psychological therapies</option>
<option value="IAPT">IAPT</option>
<option value="CBT">CBT</option>
<option value="Anger management">Anger management</option>
<option value="Anxiety support">Anxiety support</option>
<option value="Social groups">Social groups</option>
<option value="Drop ins">Drop ins</option>
<option value="Wellbeing services">Wellbeing services</option>
<option value="Training">Training</option>
<option value="Employment advice and support">Employment advice and support</option>
<option value="Volunteering">Volunteering</option>
<option value="Supported housing">Supported housing</option>
<option value="Supported employment opportunities">Supported employment opportunities</option>
<option value="Community Mental Health Advocacy">Community Mental Health Advocacy</option>
<option value="IMCA">IMCA</option>
<option value="IMHA">IMHA</option>
<option value="Befriending">Befriending</option>
<option value="Peer support services">Peer support services</option>
<option value="Ecotherapy">Ecotherapy</option>
<option value="Healthy lifestyles">Healthy lifestyles</option>
<option value="Physical wellbeing services">Physical wellbeing services</option>
<option value="Mental health first aid">Mental health first aid</option>
<option value="Stress management">Stress management</option>
<option value="Information services">Information services</option>
<option value="Helplines">Helplines</option>
<option value="Information resources">Information resources</option>
<option value="Veterans services">Veterans services</option>
<option value="Young peoples services">Young peoples services</option>
<option value="LGBT services">LGBT services</option>
<option value="BME services">BME services</option>
<option value="Physical disability services">Physical disability services</option>
<option value="Offenders services">Offenders services</option>
<option value="Older peoples services">Older peoples services</option>
<option value="Arts and creative activities">Arts and creative activities</option>
<option value="Services for women">Services for women</option>
<option value="Services for men">Services for men</option>
<option value="Pregnancy/parenting support">Pregnancy/parenting support</option>
<option value="Advice services">Advice services</option>
<option value="Cafe">Cafe</option>
<option value="Learning Disability">Learning Disability</option>
<option value="Carers">Carers</option>
<option value="Young carers">Young carers</option>
<option value="Suicide">Suicide</option>
<option value="Depression">Depression</option>
<option value="Money">Money</option>
<option value="IT support and resources">IT support and resources</option>
<option value="Drug and alcohol related services">Drug and alcohol related services</option>
<option value="Community based support services">Community based support services</option>
<option value="Independent living support">Independent living support</option>
<option value="Resource centres">Resource centres</option>
<option value="Residential care">Residential care</option>
<option value="Holistic therapies">Holistic therapies</option>
<option value="Charity Shop">Charity Shop</option>
<option value="Relaxation services">Relaxation services</option>
<option value="Self help services">Self help services</option>
<option value="Social activities">Social activities</option>
<option value="User involvement">User involvement</option>
<option value="Mentoring">Mentoring</option>
<option value="Social prescribing">Social prescribing</option>
<option value="Sports groups">Sports groups</option>
<option value="Condition specific support groups">Condition specific support groups</option>
<option value="Crisis accommodation">Crisis accommodation</option>
<option value="Home support">Home support</option>
<option value="Personal budgets management services">Personal budgets management services</option>
<option value="Dementia Services">Dementia Services</option>
<option value="Young Afro/Caribbean men">Young Afro/Caribbean men</option>
<option value="Other">Other</option>

                </select><br>
                <button type="button" class="btn btn-default">Add Another</button>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="input_serviceType">Service Component</label>
                <select class="form-control" id="input_serviceType" name="input_serviceType">
                  <option>Phone Based Support</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>

              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="input_activeUsers">Active Users</label>
                <input class="form-control" id="input_activeUsers" name="input_activeUsers">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <p>QUESTIONS &amp; ANSWERS</p>
                <small>Post any questions the network can help answer</small>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_question" class="col-sm-3 control-label">Question</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_question" name="input_question">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_privacy" class="col-sm-3 control-label">Privacy</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_privacy" name="input_privacy">
                  <option value="National">National</option>
                    <option value="Private">Private</option>
                    <option value="Local">Local</option>
                    
                </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_question" class="col-sm-3 control-label">Notification</label>
                  <div class="col-sm-9">
                    <label class="radio-inline">
                      <input type="radio" id="input_notification" value="input_notification_yes"> Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="input_notification" value="input_notification_no"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_question" class="col-sm-3 control-label">Question</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_question" name="input_question">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_privacy" class="col-sm-3 control-label">Privacy</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_privacy" name="input_privacy">
                  <option value="National">National</option>
                    <option value="Private">Private</option>
                    <option value="Local">Local</option>
                    <option value="Regional">Regional</option>
                </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_question" class="col-sm-3 control-label">Notification</label>
                  <div class="col-sm-9">
                    <label class="radio-inline">
                      <input type="radio" id="input_notification" value="input_notification_yes"> Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="input_notification" value="input_notification_no"> No
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_question" class="col-sm-3 control-label">Question</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_question" name="input_question">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_privacy" class="col-sm-3 control-label">Privacy</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_privacy" name="input_privacy">
                    <option value="National">National</option>
                    <option value="Private">Private</option>
                    <option value="Local">Local</option>
                    <option value="Regional">Regional</option>
                </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="input_question" class="col-sm-3 control-label">Notification</label>
                  <div class="col-sm-9">
                    <label class="radio-inline">
                      <input type="radio" id="input_notification" value="input_notification_yes"> Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="input_notification" value="input_notification_no"> No
                    </label>
                    <br><br>
                    <button type="button" class="btn btn-default">Add Another</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="text-center">
          <div class="btn-group">
            <button type="button" class="btn btn-default">Back</button>
            <button type="button" class="btn btn-default">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>





	</div> <!-- CONTENT -->
{% endblock %}