{% extends "base.html" %}
{% load render_embeded %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
var videos = [{% for video in video_list %}"{{ video.url }}",{% endfor %}];
var videoDetail = [{% for video in video_list %}"{{ video.slug }}",{% endfor %}];
var videoTitles = [{% for video in video_list %}"{{ video.title }}",{% endfor %}];
$(document).ready(function(){

    function youtube_parser(url){
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
    var match = url.match(regExp);
    if (match&&match[7].length==11){
        return match[7];
    }else{
        console.error("Incorrect or malformed youtube url");
    }
}

    $.each( videos, function( key, value ) {
        $("#videosStreamImages").append('<div class="col-md-3 col-sm-4 col-xs-6"><a href="/video-stream/' + videoDetail[key] + '"><img class="img-responsive" src="http://img.youtube.com/vi/' + youtube_parser(value) + '/mqdefault.jpg"><p>' + videoTitles[key] + '</p></a></div>');
    });
    

});

</script>
{% endblock %}
{% block content %}
{% include "includes/sidebar.html" %}

    <div id="content">

        {% include "includes/topbar.html" %}

        <div class="container-fluid">

            <h3 class="withIcon icon_video"><span></span>VIDEO STREAM</h3>
            <a href="{% url "dashboard" %}" class="page-close"></a>
           <button class="btn btn-default action_addNew" data-target="#modal-form"{% if show_form %} data-open{% endif %}>ADD NEW VIDEO</button>



        <div id="video-content">

        <div class="row" id="videosStreamImages">
            
        </div>
        {% include "videos/_video_form.html" with id="modal-form" form=form %}
        {% comment %}
        <div class="row">
            <div class="col-md-6">
                {% for video in video_list %}
                    <div class="mediaObject">
                        {{ video.url|render_embeded }}
                    </div>
                    <h4>{{ video.title }}</h4>
                    <p>{{ video.user }} - {{ video.date }}</p>
                    {% if video.description %}
                        {{ video.description|safe }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6">
                

                {% for video in video_list %}
                <div class="video-thumb-wrap col-md-6">
                    <div class="video-thumb mediaObject">
                        {{ video.url|render_embeded }}
                    </div>
                </div>
                {% endfor %}

            </div>
            </div>
            {% endcomment %}

            <div style="clear:both"></div>

        </div>
        </div>
    </div> <!-- CONTENT -->


{% endblock %}
