{% extends "base.html" %}
{% load djangular_tags webdesign %}


{% block content %}
{% include "includes/sidebar.html" %}
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div id="logo-form"></div>
            <div class="modal-close close" data-dismiss="modal" aria-hidden="true"></div>

<form class="form-horizontal" role="form">


            <div class="row">
              <div class="col-md-6 col-md-offset-3">
              <h2>ADD A NEW VIDEO</h2>


                <div class="form-group">
                  <label for="input_title" class="col-sm-3 control-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_title" name="input_title">
                  </div>
                </div>


              <div class="form-group">
                  <label for="input_date" class="col-sm-3 control-label">Date</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_date" name="input_date">
                  </div>
                </div>


              <div class="form-group">
                  <label for="input_date" class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" id="input_date" name="input_date"></textarea>
                  </div>
                </div>

              <div class="form-group">
                  <label for="input_video" class="col-sm-3 control-label">Video URL</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_video" name="input_video">
                  </div>
                </div>

              <div class="form-group">
                  <label for="input_tags" class="col-sm-3 control-label">Tags</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_tags" name="input_tags">
                  </div>
                </div>

              <div class="form-group">
                  <label for="input_postedBy" class="col-sm-3 control-label">Posted by</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_postedBy" name="input_postedBy">
                  </div>
                </div>

              <div class="form-group">
                  <label for="input_postedBy" class="col-sm-3 control-label">Privacy</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_postedBy" name="input_postedBy">
                    <option value="Private">Private</option>
                    <option value="Local">Local</option>
                    <option value="Regional">Regional</option>
                    <option value="National">National</option>
                    </select>
                  </div>
                  </div>


                  <button type="button" class="btn btn-default center-block">Submit</button>

            </div>
            </div>
</form>


    </div>
  </div>
</div>
    <div id="content">

        {% include "includes/topbar.html" %}

        <div class="container-fluid">
            <h3 class="withIcon"><span class="icon_video"></span>LATEST VIDEOS</h3>
            <a href="/" class="page-close"></a>


        <div id="video-content">
        <div class="row">
            <div class="col-md-6">
                {% for object in object_list %}
                <div class="mediaObject">
                    <iframe width="100%" height="300px" src="{{ object.url }}" frameborder="0" allowfullscreen></iframe>
                </div>
                    <h4>{{ object.title }}</h4>
                    <p>{{ object.user }} - {{ object.date }}</p>
                    {% if object.description %}
                        {{ object.description|safe }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6">
            <a href="#addVideo"><div class="add-team-button" id="action_addNewVideo">ADD NEW VIDEO</div></a>

                {% for object in object_list %}
                <div class="video-thumb-wrap col-md-6">
                    <div class="video-thumb mediaObject">
                        <iframe width="100%" height="156" src="{{ object.url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                {% endfor %}

            </div>
            </div>

            <div style="clear:both"></div>

        </div>
        </div>
    </div> <!-- CONTENT -->


{% endblock %}
