/* VARIABLES
-------------------------------------------------------- */

// COLOURS
$black: #000000;
$blue: #174787;

// ASSET PATH
$asset : "../../assets/img/";

// BRAND LOGOS
$mind-logo: "../../assets/img/brand/mind.jpg";
$openhub-logo: "../../assets/img/brand/openhub.jpg";
