/* VARIABLES
-------------------------------------------------------- */

// COLOURS
$black: #1c1c1b;
$blue: #174787;
$purple: #702285;
$background: #ced4d6;
$base: #d8dbdd;
//$base: #f2f2f2;

$engine-room: #DC143C;

// ASSET PATH
$asset : "../../assets/img/";

// BRAND LOGOS
$mind-logo: "../../assets/img/brand/mind.jpg";
$openhub-logo: "../../assets/img/brand/openhub.jpg";

// GRAPHIC ASSETS
$close: "../../assets/img/ui/close.png";
$close-svg: "../../assets/img/ui/close.svg";

// FONTS
$base-font: 'Avenir LT W01 55 Roman';
