{% extends "forms/_base_modal.html" %}
{% load floppyforms %}


{% block headline %}
<div class="modal-icon" id="icon_calendar"></div><h2>ADD EVENT</h2>
{% endblock %}


{% block fields %}
    {% form form using %}
        {% formconfig row using "forms/signup_row.html" %}

        {% formrow form.title %}
        {% formrow form.start %}
        {% formrow form.end %}
        {% formrow form.location %}
        {% formrow form.postcode %}
        {% formrow form.privacy %}
    {% endform %}
{% endblock %}
