{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}dist/styles/calendar.css">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/calendar.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var regions = {
        {% for region_slug, region_name in regions %}
        "{{ region_slug|escapejs }}": "{{ region_name|escapejs }}"{% if not forloop.last %}, {% endif %}
        {% endfor %}
    };
    var calendar = $('#calendar').calendar({
    events_source: [
        {
            "id": 293,
            "title": "Event 1",
            "url": "http://example.com",
            "class": "event-important",
            "start": 12039485678000, // Milliseconds
            "end": 1234576967000 // Milliseconds
        }
    ]});
});
</script>
{% endblock %}

{% block content %}

<div id="content" class="clearfix">

    {% include "includes/topbar.html" %}

    <div class="container-fluid">

    <h3 class="withIcon icon_calendar"><span></span>EVENTS DIARY</h3>
    <a href="{% url "dashboard" %}" class="page-close"></a>

    <button class="btn btn-default action_addNew" data-target="#event-form"{% if show_form %} data-open{% endif %}>ADD NEW EVENT</button>

    {% include "diary/_event_form.html" with id="event-form" form=form %}

    <div id="team-content">

        <div class="row">
        <div class="col-md-2">
            <h4>AVALIABLE CALENDARS</h4>
            <p class="small">Click on the regions below to see them in you calendar</p>

            <ul>
                {% for region_slug, region_name in regions %}
                <li><small>{{ region_slug }}</small> {{ region_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
                <div id="calendar"></div>
        </div>

        </div>

    </div>
    </div>

</div> <!-- CONTENT -->

{% endblock %}

