<div id="logo-form"></div>
      <div class="modal-close close" data-dismiss="modal" aria-hidden="true"></div>

<form class="form-horizontal" role="form">


            <div class="row">
              <div class="col-md-6 col-md-offset-3">
              <h2>ADD EXTERNAL NEWS</h2>


                <div class="form-group">
                  <label for="input_title" class="col-sm-3 control-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_title" name="input_title">
                  </div>
                </div>


              <div class="form-group">
                  <label for="input_date" class="col-sm-3 control-label">Date</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_date" name="input_date">
                  </div>
                </div>


              <div class="form-group">
                  <label for="input_date" class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" id="input_date" name="input_date"></textarea>
                  </div>
                </div>

              <div class="form-group">
                  <label for="input_source" class="col-sm-3 control-label">Source</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_source" name="input_source">
                  </div>
                </div>

              <div class="form-group">
                  <label for="input_privacy" class="col-sm-3 control-label">Privacy</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="input_postedBy" name="input_privacy">
                    <option value="Private">Private</option>
                    <option value="Local">Local</option>
                    <option value="Regional">Regional</option>
                    <option value="National">National</option>
                    </select>
                  </div>
                  </div>


                  <button type="button" class="btn btn-default center-block">Submit</button>

            </div>
            </div>
</form>