<div id="logo-form"></div>
<div class="modal-close close" data-dismiss="modal" aria-hidden="true"></div>

<form class="form-horizontal" role="form">


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-9"><div class="modal-icon" id="icon_document"></div><h2>INVITE NEW USER</h2></div>
      </div>

      <div class="form-group">
        <label for="input_firstName" class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="input_firstName" name="input_firstName">
        </div>
      </div>

      <div class="form-group">
        <label for="input_lastName" class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="input_lastName" name="input_lastName">
        </div>
      </div>

      <div class="form-group">
        <label for="input_email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="input_email" name="input_email">
        </div>
      </div>

      <div class="form-group">
        <label for="input_accessLevel" class="col-sm-3 control-label">Access Level</label>
        <div class="col-sm-9">
          <select type="text" class="form-control" id="input_accessLevel" name="input_accessLevel">
            <option value="Super user">Super user</option>
            <option value="Admin">Admin</option>
            <option value="General">General</option>
            <option value="Intern">Intern</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label for="input_jobTitle" class="col-sm-3 control-label">Job Title</label>
        <div class="col-sm-9">
          <input rows="5" class="form-control" id="input_jobTitle" name="input_jobTitle">
        </div>
      </div>

      <button type="button" class="btn btn-default center-block">Submit</button>

    </div>
  </div>
</form>