/* print layout */

/* float clearing for .floatbox and subtemplates. Uses display:table to avoid bugs in FF & IE */
.subcolumns > div,
.floatbox {
    display:table;
    overflow:visible;
}

/* make .print class visible */
.print {
    position:static;
    left:0;
}

/* generic class to hide elements for print */
.noprint {
    display:none !important;
}
