{% load floppyforms %}{% block row %}
    {% for field in fields %}
        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
            {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
            {% block label %}
                {% if field|id %}<label class="col-sm-3 control-label{% if inline_label %} sr-only{% endif %}" for="{{ field|id }}">{% endif %}
                    {{ label }}
                    {% comment %}
                    {% if field.field.required %} <span class="required">*</span>{% endif %}
                    {% endcomment %}
                    {% block help_text %}
                        {% if field.help_text and not hide_help_text %}
                            <p class="help-block">{{ field.help_text }}</p>
                        {% endif %}
                    {% endblock %}
                {% if field|id %}</label>{% endif %}
            {% endblock %}

            {% block field %}
            <div class="col-sm-9">
                {% block pre_widget %}{% endblock %}

                {% block widget %}{% formfield field %}{% endblock %}
                {% block errors %}{% include "floppyforms/errors.html" with errors=field.errors %}{% endblock %}
                {% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}

                {% block post_widget %}{% endblock %}
            </div>
            {% endblock %}
            {% endwith %}
        </div>
    {% endfor %}
{% endblock %}
