{% extends "email/base_html.html" %}
{% load email %}


{% subject %}Thank you for signing up!{% endsubject %}


{% block body %}
Hi, thank you for signing up. Please visit the following link to signup with us:

{{ signup_link }}
{% endblock %}


{% block html %}
    <p>Hi, thank you for signing up. Please visit the following link to signup with us:</p>
    <div class="center-block" style="width:92px; margin-bottom:20px">
        <a href="{{ signup_link }}">Complete your signup</a>
    </div>
{% endblock %}
