<div class="overlay">
		<div class="overlay-close"></div>
		<div class="pop-up-box">
			<div class="pop-up-close"></div>
			<div class="pop-up-content">
				<div class="pop-up-title"><h3>UPDATE DATA</h3></div>
				<div class="pop-up-menu">
                    <a href="{% url "positive-news-add" %}"><div class="pop-up-menu-item1"><p class="popup">Positive news</p></div></a>
					<a class="action_addNew" data-type="Event"><div class="pop-up-menu-item2"><p class="popup">Event Diary</p></div></a>
					<a href="{% url "tasks-add" %}"><div class="pop-up-menu-item3"><p class="popup">To-Do</p></div></a>
					<a href="{% url "local-map-add" %}"><div class="pop-up-menu-item4"><p class="popup">My Local Area</p></div></a>
					{% comment %}
					<a class="action_addNew" data-type="Event"><div class="pop-up-menu-item5"><p class="popup">Design Your Support</p></div></a>
					<a class="action_addNew" data-type="Video"><div class="pop-up-menu-item6"><p class="popup">Video</p></div></a>
					<a class="action_addNew" data-type="Video"><div class="pop-up-menu-item6"><p class="popup">no. of volunteers this week</p></div></a>
					<a class="action_addNew" data-type="Video"><div class="pop-up-menu-item6"><p class="popup">no. of service users this week</p></div></a>
					{% endcomment %}
				</div>
			</div>
		</div>
	</div>
