<div id="sidebar" class="sidebar-colapse">

        <div id="sidebar-panel">

            <a href="index.html"><div id="logo"></div></a>

            <div id="people">

                <div class="person">

                    <div class="avatar"></div>
                    <div class="username"><stong>Jane Smiths</stong> - openhub</div>

                </div>

                <div class="person">

                    <div class="avatarLM"></div>
                    <div class="username"><a href="lm-hub.html"><strong>Plymouth</strong> - openhub</a></div>

                </div>

            </div>

            <div id="close-description"></div>


            <div id="description-wrap">
                <div id="description-text">
                    Add widgets to dashboard Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis neque accumsan,  porta ac, dignissim massa. Etiam bibendum mi ut ligula tempus.
                </div>
            </div>

            <div id="menu">

                <div class="menu-button-wrap" data-tt="See all memebers of the team" data-widg="meettheteam">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="meet" style="background-image:url(../Assets/images/sidebar/icon_svg/meet.svg)">
                        <div class="menu-name">Meet The Team</div>
                    </div>
                </div>
                <div class="menu-button-wrap" data-tt="See how the sum is great than its parts" data-widg="collectiveimpact">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="collective" style="background-image:url(../Assets/images/sidebar/icon_svg/collective.svg)">
                        <div class="menu-name">Collective impact</div>
                    </div>
                </div>
                <div class="menu-button-wrap" data-tt="National funding opportunities" data-widg="fundingmap">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="fmap" style="background-image:url(../Assets/images/sidebar/icon_svg/fmap.svg)">
                        <div class="menu-name">Funding Map</div>
                    </div>
                </div>
                <div class="menu-button-wrap" data-tt="updates from LM on good news happening to them and their users">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="positive" style="background-image:url(../Assets/images/sidebar/icon_svg/positive.svg)">
                        <div class="menu-name">Positive News</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Lisiting for all available research guidelines best pratice etc">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="documents" style="background-image:url(../Assets/images/sidebar/icon_svg/documents.svg)">
                        <div class="menu-name">Documents</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="content updated by LM's to show best practice">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="videos" style="background-image:url(../Assets/images/sidebar/icon_svg/videos.svg)">
                        <div class="menu-name">Latest Video</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="New on mental health work outside of Mind">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="news" style="background-image:url(../Assets/images/sidebar/icon_svg/news.svg)">
                        <div class="menu-name">External News</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Progress on your MQM todate">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="quality" style="background-image:url(../Assets/images/sidebar/icon_svg/quality.svg)">
                        <div class="menu-name">Quailty Mark</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="How your LM is growth and developing"  data-widg="areasofgrowth">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="area" style="background-image:url(../Assets/images/sidebar/icon_svg/area.svg)">
                        <div class="menu-name">Areas of Growth</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Find someone in the LM network with the skills you need" data-widg="buddysearch">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="buddy" style="background-image:url(../Assets/images/sidebar/icon_svg/buddy.svg)">
                        <div class="menu-name">Buddy Search</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Research documentation for help with tenders and practices">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="clinical" style="background-image:url(../Assets/images/sidebar/icon_svg/clinical.svg)">
                        <div class="menu-name">Clinical Research</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Events from across the LM network" data-widg="eventsdiary">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="events" style="background-image:url(../Assets/images/sidebar/icon_svg/events.svg)">
                        <div class="menu-name">Events Diary</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="post and answer questions to and from the LM network">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="questions" style="background-image:url(../Assets/images/sidebar/icon_svg/questions.svg)">
                        <div class="menu-name">Questions & Answers</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="serivces you offer to your users">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="service" style="background-image:url(../Assets/images/sidebar/icon_svg/service.svg)">
                        <div class="menu-name">Services</div>
                    </div>
                </div>


            </div>

        </div>

    </div>
