{% load thumbnail %}
<div id="sidebar" class="sidebar-colapse">

        <div id="sidebar-panel">

            <a href="index.html"><div id="logo"></div></a>

            <div id="people">

                <div class="person">

                    <div class="avatar">
                        <img src="{% thumbnail user.user_avatar 40x40 crop %}" class="img-circle">
                    </div>
                    <div class="username">{{ user.get_full_name|default:user.email }}'s - Openhub</div>

                </div>

                <div class="person">
                {% comment %}
                    <div class="avatarLM"></div>
                    <div class="username"><a href="lm-hub.html"><strong>Plymouth</strong> - openhub</a></div>
                {% endcomment %}
                </div>

            </div>

            <div id="close-description"></div>


            <div id="description-wrap">
                <div id="description-text">
                    You can choose which of the nodes below you would like on your dashboard. Just click on the node(s) that you want and they will move to the dashboard. You can also delete nodes from your dashboard. Remember this has been designed so you can create the dashboard that is most useful and relevant to you.
                </div>
            </div>

            <div id="menu">

                <div class="menu-button-wrap" data-tt="See all memebers of the team" data-widg="meettheteam">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="meet" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/meet.svg)">
                        <div class="menu-name">Meet The Team</div>
                    </div>
                </div>
                <div class="menu-button-wrap" data-tt="See how the sum is great than its parts" data-widg="todo">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="task" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/task.svg)">
                        <div class="menu-name">To-Do List</div>
                    </div>
                </div>
                {% comment %}
                <div class="menu-button-wrap" data-tt="National funding opportunities" data-widg="fundingmap">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="fmap" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/fmap.svg)">
                        <div class="menu-name">The Funding Map</div>
                    </div>
                </div>
                {% endcomment %}
                <div class="menu-button-wrap" data-tt="Local Area" data-widg="myLocalArea">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="local" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/local.svg)">
                        <div class="menu-name">My Local Area</div>
                    </div>
                </div>
                <div class="menu-button-wrap" data-tt="Local Area" data-widg="theNetWorks">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="national" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/national.svg)">
                        <div class="menu-name">The Net Works</div>
                    </div>
                </div>
                <div class="menu-button-wrap" data-tt="updates from LM on good news happening to them and their users" data-widg="positiveNews">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="positive" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/positive.svg)">
                        <div class="menu-name">Positive News</div>
                    </div>
                </div>
                {% comment %}
                <div class="menu-button-wrap" data-tt="Lisiting for all available research guidelines best pratice etc" data-widg="theEngineRoom">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="documents" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/documents.svg)">
                        <div class="menu-name">The Engine Room</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="content updated by LM's to show best practice" data-widg="videoStream">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="videos" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/videos.svg)">
                        <div class="menu-name">Video Stream</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="New on mental health work outside of Mind" data-widg="externalNews">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="news" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/news.svg)">
                        <div class="menu-name">Hot Topics News Stream</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Progress on your MQM todate" data-widg="diagnostic">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="quality" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/quality.svg)">
                        <div class="menu-name">Diagnostic</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Branding Assets" data-widg="branding">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="branding" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/branding.svg)">
                        <div class="menu-name">Branding</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="How your LM is growth and developing"  data-widg="areasofgrowth">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="area" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/area.svg)">
                        <div class="menu-name">Design Your Support</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="Find someone in the LM network with the skills you need" data-widg="buddysearch">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="buddy" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/buddy.svg)">
                        <div class="menu-name">Buddy Search</div>
                    </div>
                </div>
                {% endcomment %}
                <div class="menu-button-wrap" data-tt="Research documentation for help with tenders and practices" data-widg="theLabNews">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="clinical" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/clinical.svg)">
                        <div class="menu-name">The Lab News</div>
                    </div>
                </div>
                {% comment %}
                <div class="menu-button-wrap" data-tt="Events from across the LM network" data-widg="eventsdiary">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="events" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/events.svg)">
                        <div class="menu-name">Events Diary</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="serivces you offer to your users" data-widg="services">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="service" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/service.svg)">
                        <div class="menu-name">Our Services</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="serivces you offer to your users" data-widg="openHubUpdates">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="hubupdates" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/hubupdates.svg)">
                        <div class="menu-name">Open Hub Updates</div>
                    </div>
                </div>

                <div class="menu-button-wrap" data-tt="serivces you offer to your users" data-widg="nationalMindNews">
                    <div class="tt-icon"></div>
                    <div class="menu-button" data-iconName="national" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/national.svg)">
                        <div class="menu-name">National Mind News</div>
                    </div>
                </div>
                {% endcomment %}


            </div>

        </div>

    </div>
