<div id="top-bar">
            
            <div id="sidebar-button" class="closed"></div>

            <div id="search-bar">
                
                <input type="text" placeholder="search..." id="search">

            </div>

            <div id="tools">
                    
                <div id="write"></div>
                <div id="add">
                    <div id="add-icon" class="drop"></div>
                    <ul>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/service-08.svg)">
                            Add Service
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/contract-09.svg)">
                            Add contract
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/qm-010.svg)">
                            Update Quality Mark
                        </li>
                        
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/notes-02.svg)">
                            Monthly Finances 
                        </li>
                    </ul>
                </div>
            </div>

            <div id="profile">
                
                <div id="person">
                    <a href="team.html"><div class="avatar"></div></a>
                    <div class="username">Jane Smith - Openhub</div>
                </div>
                <a href="home.html"><div id="logout"></div></a>
                <div id="settings">
                    <div id="settings-icon" class="drop"></div>
                    <ul>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/notes-02.svg)">
                            Notifications
                            <div class="notification">3</div>
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/tasks-03.svg)">
                            Task
                            <div class="notification">14</div>
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/alert-01.svg)">
                            Alerts
                            <div class="notification">4</div>
                        </li>
                        
                        <li class="settings-opt red">Settings</li>
                        
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/profile-04.svg)">
                            Update Profile
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/anchor-05.svg)">
                            Update Plymouth Hub
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/users-06.svg)">
                            Update Hub Users
                        </li>
                        <li class="settings-opt" style="background-image:url(../Assets/images/sidebar/icon_svg/password-07.svg)">
                            <a href="password.html">Change password</a>
                        </li>
                        
                    </ul>
                </div>

            </div>

        </div>