{% load thumbnail %}
<div id="top-bar">

    {% if dashboard == "true" %}
    <div id="sidebar-button" class="closed"></div>
    {% else %}
    <a href="{% url "dashboard" %}"><div id="sidebar-home"></div></a>
    {% endif %}


    <div id="person">

        {% if dashboardType == "local" %}
        {% if user.local_mind.group_avatar %}
        <div class="avatar drop">
        <img src="{% thumbnail user.local_mind.group_avatar 40x40 crop %}" class="img-circle">
     </div>
     {% else %}
     <div class="avatar avatar_default drop">
        <img src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" class="img-circle">
    </div>
    {% endif %}
    <div class="username">{{ user.local_mind.name }} - dashboards</div>
    <ul>
        <a href="/my-dashboard"><li class="settings-opt">

            {% if user.user_avatar %}
            <div class="avatar drop">
             <img src="{% thumbnail user.user_avatar 40x40 crop %}" class="img-circle">
         </div>
         {% else %}
         <div class="avatar avatar_default drop">
            <img src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" class="img-circle">
        </div>
        {% endif %}
        <p>{{ user.first_name|default:user.email }}'s - Dashboard</p>
    </li></a>
</ul>
{% else %}

{% if user.user_avatar %}
<div class="avatar drop">
 <img src="{% thumbnail user.user_avatar 40x40 crop %}" class="img-circle">
</div>
{% else %}
<div class="avatar avatar_default drop">
    <img src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" class="img-circle">
</div>
{% endif %}
<div class="username">{{ user.first_name|default:user.email }}'s - Openhub</div>
<ul>
    <a href="/dashboard"><li class="settings-opt">

        {% if user.local_mind.group_avatar %}
        <div class="avatar drop">
         <img src="{% thumbnail user.local_mind.group_avatar 40x40 crop %}" class="img-circle">
     </div>
     {% else %}
     <div class="avatar avatar_default drop">
        <img src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" class="img-circle">
    </div>
    {% endif %}
    <p>{{ user.local_mind.name }} - dashboards</p>
</li></a>
</ul>
{% endif %}

</div>



<div id="profile">


    <a href="{% url "logout" %}"><div id="logout"></div></a>

    <div id="tools">

        <div id="write"></div>

        <div id="add">
            <div id="add-icon" class="drop"></div>
            <ul>
                <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/service-08.svg)">
                    Add Service
                </li>
                <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/contract-09.svg)">
                    Add contract
                </li>
                <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/qm-10.svg)">
                    Update Quality Mark
                </li>

                <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/notes-02.svg)">
                    Monthly Finances
                </li>
            </ul>
        </div>
    </div>

    <div id="settings">
        <div id="settings-icon" class="drop"></div>
        <ul>
            <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/alert-01.svg)">
                Alerts
                <div class="notification">4</div>
            </li>
            <a href="{% url "tasks" %}"><li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/tasks-03.svg)">
                To-Do's
                <div class="notification">{{ my_active_tasks.count }}</div>
            </li></a>
            <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/notes-02.svg)">
                Notifications
                <div class="notification">3</div>
            </li>
            <li class="settings-opt purple">Accounts</li>
            <a href="{{ user.get_absolute_url }}">
                <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/users-06.svg)">
                    View Your Profile
                </li></a>
                <a href="{% url "team" %}">
                    <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/users-06.svg)">
                        View Hub Users
                    </li></a>
                    <a href="{{ user.local_mind.get_absolute_url }}">
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/users-06.svg)">
                            View {{ user.local_mind.name }}
                        </li></a>
                        <li class="settings-opt red">Settings</li>

                        <a href="{% url "profile-form" %}"><li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/profile-04.svg)">
                            Update Profile <!-- this should go to pre-puplated page 8 (invitee) in the sign up process -->
                        </li></a>
                        <a href="{% url "local-mind-form" %}"><li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/anchor-05.svg)" data-access="super">
                            Update {{ user.local_mind.name }} <!-- this should go to pre-puplated page 1 in the sign up process (only accessible to super-users) -->
                        </li></a>
                        <a href="{% url "invite-form" %}">
                            <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/profile-04.svg)">
                                Invite Users
                            </li>
                        </a>
                        <a href="{% url "change-password" %}">
                            <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/password-07.svg)">
                                Change password
                            </li>
                        </a>
                    </ul>
                </div>

            </div>

            <div id="search-bar">

                <input type="text" placeholder="search..." id="search">

            </div>

        </div>
        {% include "includes/overlay.html" %}
