{% load thumbnail %}
<div id="top-bar">

            {% if dashboard == "true" %}
            <div id="sidebar-button" class="closed"></div>
            {% else %}
            <a href="{% url "dashboard" %}"><div id="sidebar-home"></div></a>
            {% endif %}

            <div id="search-bar">

                <input type="text" placeholder="search..." id="search">

            </div>

            <div id="tools">

                <div id="write"></div>
                {% comment %}
                <div id="add">
                    <div id="add-icon" class="drop"></div>
                    <ul>
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/service-08.svg)">
                            Add Service
                        </li>
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/contract-09.svg)">
                            Add contract
                        </li>
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/qm-10.svg)">
                            Update Quality Mark
                        </li>

                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/notes-02.svg)">
                            Monthly Finances
                        </li>
                    </ul>
                </div>
                {% endcomment %}
            </div>

            <div id="profile">

                <div id="person">
                    {% if user.user_avatar %}
                    <div class="avatar">
                        <a href="{{ user.get_absolute_url }}"><img src="{% thumbnail user.user_avatar 40x40 crop %}" class="img-circle"></a>
                    </div>
                    {% else %}
                    <div class="avatar avatar_default">
                        <a href="{{ user.get_absolute_url }}"><img src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" class="img-circle"></a>
                    </div>
                    {% endif %}
                    <div class="username">{{ user.first_name|default:user.email }}'s - Openhub</div>
                </div>
                <a href="{% url "logout" %}"><div id="logout"></div></a>
                <div id="settings">
                    <div id="settings-icon" class="drop"></div>
                    <ul>
                        {% comment %}
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/notes-02.svg)">
                            Notifications
                            <div class="notification">3</div>
                        </li>
                        {% endcomment %}
                        <a href="{% url "tasks" %}"><li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/tasks-03.svg)">
                            To-Do's
                            <div class="notification">{{ my_active_tasks.count }}</div>
                        </li></a>
                        {% comment %}
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/alert-01.svg)">
                            Alerts
                            <div class="notification">4</div>
                        </li>
                        {% endcomment %}
                        <li class="settings-opt red">Settings</li>

                        <a href="{% url "profile-form" %}"><li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/profile-04.svg)">
                            Update Profile <!-- this should go to pre-puplated page 8 (invitee) in the sign up process -->
                        </li></a>
                        <a href="{% url "local-mind-form" %}"><li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/anchor-05.svg)" data-access="super">
                            Update {{ user.local_mind.name }} <!-- this should go to pre-puplated page 1 in the sign up process (only accessible to super-users) -->
                        </li></a>
                        <a href="{% url "team" %}">
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/users-06.svg)">
                            View Hub Users
                        </li></a>
                        <a href="{{ user.local_mind.get_absolute_url }}">
                        <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/users-06.svg)">
                            View {{ user.local_mind.name }}
                        </li></a>
                        <a href="{% url "invite-form" %}">
                            <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/profile-04.svg)">
                                Invite Users
                            </li>
                        </a>
                        <a href="{% url "change-password" %}">
                            <li class="settings-opt" style="background-image:url({{ STATIC_URL }}assets/img/ui/icons/password-07.svg)">
                            Change password
                            </li>
                        </a>
                    </ul>
                </div>

            </div>

        </div>
        {% include "includes/overlay.html" %}
