{% load thumbnail %}
<div class="externalNews hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="externalNews">
    <div class="widget-bar">
      <div class="widget-title"><a href="{% url "external-news" %}"><div class="nodeIcon"></div>HOT TOPICS NEWS STREAM</a>
      </div>
    </div>
    {% for news in externalnews_list %}
    <div class='list-group'>
      <div class="list-group-item">
        <a href="{{ news.get_absolute_url }}">
          <h2>{{ news.title }}</h2>
        </a>
        <p class="small text-muted">{% if news.date %}{{ news.date|date }} - {% endif %} posted by {{ news.user }} - {{ news.local_mind }}</p>
        {% if news.image %}
            {% with news.image.object as object %}
            <div class="media-content"><img src="{% thumbnail object.file 100x100 crop,upscale %}" alt="{{ object }}"/></div>
            {% endwith %}
        {% endif %}
        <p>{{ news.description|safe|truncatechars:250 }}</p>
      </div>
    </div>
    {% endfor %}
  </li>
</div>
