<div class="MQM hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="MQM">
    <div class="widget-bar">
      <div class="widget-title">MQM</div>
      {% include "includes/widget-settings.html" %}
    </div>
    <ul class='list-group'>

      <li class="list-group-item">
      <p class="text-center">PROGRESS TO DATE</p>

        <div class="radial-progress" data-progress="75">
          <div class="circle">
            <div class="mask full">
              <div class="fill"></div>
            </div>
            <div class="mask half">
              <div class="fill"></div>
              <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
          </div>
          <div class="inset">
            <div class="percentage"></div>
          </div>
        </div>
    </ul>
  </li>
</div>