{% load thumbnail %}
<div class="nationalMindNews hidden">
    <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="nationalMindNews">
        <div class="widget-bar">
            <div class="widget-title"><a href="{% url "mind-updates" %}"><div class="nodeIcon"></div>NATIONAL MIND NEWS</a></div>
        </div>
        {% for update in update_list|slice:":1" %}
            <div class='list-group'>
                <div class="list-group-item">
                <h2>{{ update.title }}</h2>
                <p class="small text-muted">{% if update.date %}{{ update.date|date }} - {% endif %}
                    posted by {{ update.user }} - {{ update.local_mind }}</p>
                {% if update.list_image %}
                    {% with update.list_image.object as object %}
                    <div class="media-content"><img src="{% thumbnail object.file 100x100 crop,upscale %}" alt="{{ object }}"/></div>
                    {% endwith %}
                {% endif %}
                <p>{{ update.description|safe|truncatewords:25 }}</p>
                </div>
            </div>
        {% endfor %}
    </li>
    </li>
</div>
