{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block content %}

<div id="content" class="clearfix">
{% include "includes/topbar.html" %}

  <div class="container-fluid">

    <div id="page-head">
        <h3 class="withIcon icon_newspaper"><span></span>HOT TOPICS NEWS STREAM</h3>
        <a href="{% url "dashboard" %}" class="page-close"></a>
    </div>


    <div id="page-content">

     <div class="row">
       <div class="col-md-6 col-md-offset-3">
         {% for object in object_list %}
         <div class="post">
            <h4>{{ object.title }}</h4>
            <p class="small meta">{% if object.date %}{{ object.date|date }} - {% endif %}posted by {{ object.user }} - {{ object.local_mind }}</p>
            <div>{{ object.description|urlize|linebreaks }}</div>
        </div>
        {% endfor %}
    </div>
    </div>


    </div><!--page-content-->

  </div><!--container-fluid-->
</div> <!--content-->
{% endblock %}
