{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_newspaper"><span></span>HOT TOPICS NEWS STREAM</h3>
    <a href="{% url "dashboard" %}" class="page-close"></a>


    <div id="team-content">

     <div class="row">
       <div class="col-md-8">
        <br>

        {% for object in object_list|slice:":2" %}
            <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
            <p class="small">
                {% if object.date %}{{ object.date|date }} - {% endif %}
                posted by {{ object.user }} - {{ object.local_mind }}</p>
            {{ object.description|linebreaks|urlize }}
        {% endfor %}
        <hr>

      </div>
      <div class="col-md-4">
        {% for object in object_list|slice:"2:" %}
            <p><strong><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></strong><br><span class="small">{% if object.date %}{{ object.date|date }} - {% endif %}posted by {{ object.user }} - {{ object.local_mind }}</span></p>
        {% endfor %}
      </div>

        </div>

      </div>
    </div>
  </div> <!-- CONTENT -->

  {% endblock %}
