{% extends "base.html" %}
{% load djangular_tags webdesign thumbnail %}

{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <div id="page-head">
        <h3 class="withIcon icon_newspaper"><span></span>{{ news.title }}</h3>
        <a href="{% url "positive-news" %}" class="page-close"></a>
    </div>

    <div id="page-content">

        <div class="row">
           <div class="col-md-8 col-md-offset-2">
                <div class="post">
                    <h4><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h4>
                    <p class="small">{% if news.date %}{{ news.date|date }} - {% endif %}posted by {{ news.user }} - {{ news.local_mind }}</p>

                    {% if object.list_image %}
                        {% with object.list_image.object as object %}
                        <div class="media-content"><img src="{% thumbnail object.file 720x480 crop,upscale %}" alt="{{ object }}"/></div>
                        {% endwith %}
                    {% endif %}

                    <div>{{ object.description|safe }}</div>

                    {% if object.download %}
                        {% with object.download.object as object %}
                        <h4>Download:</h4>
                        <a href="{{ object.download.object.file.url }}" target="_blank"><i class="fa fa-caret-right"></i> {{object}}</a>
                        {% endwith %}
                    {% endif %}

                </div>
          </div>
        </div>

    </div><!--page-content-->

  </div><!--container-fluid-->
</div> <!--content-->
{% endblock %}
