{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_newspaper"><span></span>{{ news.title }}</h3>
    <a href="{% url "positive-news" %}" class="page-close"></a>

    <div id="team-content">

     <div class="row">
       <div class="col-md-8">
       {% comment %}
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="filterBy">Filter by</label>
            <select class="form-control" id="filterBy">
              <option value="South West">South West</option>
            </select>
          </div>
        </form>
        {% endcomment %}
        <br>

        <h4><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h4>
        <p class="small">
            {% if news.date %}{{ news.date|date }} - {% endif %}
            posted by {{ news.user }} - {{ news.local_mind }}</p>
        {{ news.description|urlize|linebreaks }}

      </div>
      <div class="col-md-4">
      </div>

        </div>

      </div>
    </div>
  </div> <!-- CONTENT -->

  {% endblock %}
