{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_newspaper"><span></span>POSITIVE NEWS</h3>
    <a href="/" class="page-close"></a>

    <button class="btn btn-default action_addNew" data-target="#news-form"{% if show_form %} data-open{% endif %}>ADD NEW POST</button>

    {% include "news/_positivenews_form.html" with id="news-form" form=form %}

    <div id="team-content">

     <div class="row">
       <div class="col-md-8">
       {% comment %}
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="filterBy">Filter by</label>
            <select class="form-control" id="filterBy">
              <option value="South West">South West</option>
            </select>
          </div>
        </form>
        {% endcomment %}
        <br>

        {% for news in news_list|slice:":2" %}
            <h4><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h4>
            <p class="small">
                {% if news.date %}{{ news.date|date }} - {% endif %}
                posted by {{ news.user }} - {{ news.local_mind }}</p>
            {{ news.description|linebreaks|urlize }}
        {% endfor %}
        <hr>

      </div>
      <div class="col-md-4">
        {% for news in news_list|slice:"2:" %}
            <p><strong><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></strong><br><span class="small">{% if news.date %}{{ news.date|date }} - {% endif %}posted by {{ news.user }} - {{ news.local_mind }}</span></p>
        {% endfor %}
      </div>

        </div>

      </div>
    </div>
  </div> <!-- CONTENT -->

  {% endblock %}
