{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block content %}

<div class="modal fade" id="sharedModal" tabindex="-1" role="dialog" aria-labelledby="sharedModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_newspaper"><span></span>POSITIVE NEWS</h3>
    <a href="/" class="page-close"></a>
{% comment %}
    <button class="btn btn-default action_addNew" data-type="News">ADD NEW POST</button>
    {% endcomment %}

    <div id="team-content">

     <div class="row">
       <div class="col-md-8">
       {% comment %}
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="filterBy">Filter by</label>
            <select class="form-control" id="filterBy">
              <option value="South West">South West</option>
            </select>
          </div>
        </form>
        {% endcomment %}
        <br>

        {% for news in positivenews_list|slice:":2" %}
            <h4><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h4>
            <p class="small">{{ news.date|date:"F jS Y" }} - posted by {{ news.user }} - {{ news.local_mind }}</p>
            {{ news.description|linebreaks|urlize }}
        {% endfor %}
        <hr>

      </div>
      <div class="col-md-4">
        {% for news in positivenews_list|slice:"2:" %}
            <p><strong><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></strong><br><span class="small">{{ news.date|date:"F jS Y" }} - posted by {{ news.user }} - {{ news.local_mind }}</span></p>
        {% endfor %}
      </div>

        </div>

      </div>
    </div>
  </div> <!-- CONTENT -->

  {% endblock %}
