{% extends "base.html" %}
{% load djangular_tags webdesign thumbnail %}

{% block content %}

<div id="content" class="clearfix">
{% include "includes/topbar.html" %}

  <div class="container-fluid">

    <div id="page-head">
        <h3 class="withIcon icon_newspaper"><span></span>POSITIVE NEWS</h3>
        <a href="{% url "dashboard" %}" class="page-close"></a>
        <button class="btn btn-default action_addNew" data-target="#news-form"{% if show_form %} data-open{% endif %}>ADD NEW POST</button>
        {% include "news/_positivenews_form.html" with id="news-form" form=form %}
    </div>


    <div id="page-content">

     <div class="row">
       <div class="col-md-6 col-md-offset-3">
         {% for object in object_list %}
         <div class="post">
            <h4>{{ object.title }}</h4>
            <p class="small meta">{% if object.date %}{{ object.date|date }} - {% endif %}posted by {{ object.user }} - {{ object.local_mind }}</p>

            {% if object.list_image %}
                {% with object.list_image.object as object %}
                <div class="media-content"><img src="{% thumbnail object.file 720x480 crop,upscale %}" alt="{{ object }}"/></div>
                {% endwith %}
            {% endif %}

            <div>{{ object.description|safe }}</div>

            {% if object.download %}
                {% with object.download.object as object %}
                <h4>Download:</h4>
                <a href="{{ object.download.object.file.url }}" target="_blank"><i class="fa fa-caret-right"></i> {{object}}</a>
                {% endwith %}
            {% endif %}

        </div>
        {% endfor %}
    </div>
    </div>


    </div><!--page-content-->

    </div><!--container-fluid-->
</div> <!--content-->
{% endblock %}
