{% extends "base.html" %}
{% load djangular_tags thumbnail %}

{% block content %}

<div id="content" class="clearfix">

	{% include "includes/topbar.html" %}

	<div class="container-fluid">

        <h3 class="withIcon icon_people"><span></span>{{ local_mind }} Local Mind</h3>
		<a href="{% url "dashboard" %}" class="page-close"></a>


		<div id="team-content">
			<div class="col-md-3 team-side">
                {% if local_mind.group_avatar %}
                <div class="large-avatar"><img class="img-circle" src="{% thumbnail local_mind.group_avatar 186x186 crop %}" alt="profile" width="186" height="186"></div>
                {% else %}
								<div class="large-avatar"><a href="{{ local_mind.get_absolute_url }}"><img class="img-circle" src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" alt="profile" width="186" height="186"></a></div>
								{% endif %}
                <div class="lmas"><a href="{% url "team" local_mind.slug %}">LM: {{ local_mind }} Team</a></div>

				<a class="btn btn-default margin-30-bottom" href="/my-dashboard/invite/">ADD NEW TEAM MEMBER</a>
                <a class="btn btn-default margin-30-bottom" href="/my-dashboard/local-mind/">EDIT LM's DETAILS</a>

			</div>
			<div class="col-md-9">
				<div class="col-md-4 bio-col">
                    <p><span><em>Local mind: </em></span> {{ local_mind }}</p>
                    {% if local_mind.address %}
                        <p><span><em>Address: </em></span> {{ local_mind.address|linebreaksbr }}</p>
                    {% endif %}
				</div>
				<div class="col-md-4 bio-col">
                    {% if local_mind.email %}
					<p><span><em>Email: </em></span> <a href="mailto:{{ local_mind.email }}">{{ local_mind.email }}</a></p>
                    {% endif %}
                    {% if local_mind.telephone %}
                    <p><span><em>Office number: </em></span> {{ local_mind.telephone }}</p>
                    {% endif %}
                    {% if local_mind.website %}
                        <p><span><em>Website: </em></span> <a href="{{ local_mind.website }}">{{ local_mind.website }}</a></p>
                    {% endif %}
				</div>
				<div class="col-md-4 bio-col">
                    {% if local_mind.statement %}
                        <span><em>Mission Statement</em></span>
                        {{ local_mind.statement|urlize|linebreaks }}
                    {% endif %}
				</div>
				<div class="bio-divider"></div>
				<div class="col-md-9 bio">
					{% comment %}
				<h5>SERVICES</h5><p class="skill">Ecotherapy Services<br/>Couple Counciling<br/>Phone Based Support<br/>Psychological Therapies<br/>Cognitive Therapies<br/>Peer Support Services</p>
				{% endcomment %}

                    {% if local_mind.resources.all %}
                        <strong>Backend Resources</strong>
                        <p>
                        {% for resource in local_mind.resources.all %}
                            {{ resource }}
                            {% if not forloop.last %}<br/>{% endif %}
                        {% endfor %}
                        </p>
                    {% endif %}
                    <br>
                    {% if local_mind.partners.all %}
                        <strong>Key Partners</strong>

                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Website</th>
                                <th>Service</th>
                            </thead>
                            <tbody>
                                {% for partner in local_mind.partners.all %}
                                    <tr>
                                        <td><strong>{{ partner.name }}</strong></td>
                                        <td>
                                            {% if partner.website %}
                                            <a href="{{ partner.website }}">{{ partner.website }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ partner.get_relationship_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div> <!-- CONTENT -->

{% endblock %}
