{% extends "base.html" %}
{% load djangular_tags thumbnail %}

{% block content %}

<div id="content" class="clearfix">

	{% include "includes/topbar.html" %}

	<div class="container-fluid">

		<h3 class="withIcon icon_people"><span></span>MEET THE TEAM</h3>
		<a href="{% url "dashboard" %}" class="page-close"></a>
		<a href="/my-dashboard/invite/" class="btn btn-default action_addNew">ADD NEW TEAM MEMBER</a>
		<br><br>
	</div>

	<div id="team-content">

		<div class="row">
			<div class="col-md-3">
                {% if local_mind.group_avatar %}
                    <div class="large-avatar"><a href="{{ local_mind.get_absolute_url }}"><img class="img-circle img-responsive" src="{% thumbnail local_mind.group_avatar 186x186 crop %}" alt="profile"></a></div>
                {% else %}
                    <div class="large-avatar"><a href="{{ local_mind.get_absolute_url }}"><img class="img-circle img-responsive" src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" alt="profile"></a></div>
                {% endif %}
                <div class="lmas text-center"><a href="{{ local_mind.get_absolute_url }}">{{ local_mind }} Team Details</a></div>
			</div>
			<div class="col-md-8">
				<div class="row">

                    {% for member in members %}
					<div class="col-xs-6 col-sm-4">
                        {% if member.user_avatar %}
                            <div class="large-avatar"><a href="{{ member.get_absolute_url }}"><img class="img-circle img-responsive" src="{% thumbnail member.user_avatar 186x186 crop %}" alt="profile"></a></div>
                        {% else %}
                            <div class="large-avatar"><a href="{{ member.get_absolute_url }}"><img class="img-circle img-responsive" src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" alt="profile"></a></div>
                        {% endif %}
                        <p class="text-center h5"><a href="{{ member.get_absolute_url }}">{{ member }}</a></p>
                        {% if member.job_title %}
                        <p class="text-center">{{ member.job_title }}</p>
                        {% endif %}
					</div>
                    {% endfor %}

				</div>
			</div>

		</div>
	</div>
</div>

</div> <!-- CONTENT -->

{% endblock %}
