{% extends "base.html" %}
{% load djangular_tags thumbnail %}

{% block content %}

<div id="content" class="clearfix">

	{% include "includes/topbar.html" %}

	<div class="container-fluid">

        <h3 class="withIcon icon_people"><span></span>MEET THE TEAM - {{ member }}</h3>
		<a href="{% url "dashboard" %}" class="page-close"></a>

		<div id="team-content">
			<div class="col-md-3 team-side">
				{% if member.user_avatar %}
				<div class="large-avatar"><img class="img-circle" src="{% thumbnail member.user_avatar 186x186 crop %}" alt="profile" width="186" height="186"></div>
				{% else %}
				<div class="large-avatar"><img class="img-circle" src="{{ STATIC_URL }}assets/img/placeholder/base-avatar.png" alt="profile" width="186" height="186"></div>
				{% endif %}
        <div class="lmas"><a href="{{ member.local_mind.get_absolute_url }}">LM: {{ member.local_mind }}</a></div>
        <div class="lmas"><a href="{{ local_mind.get_absolute_url }}">{{ local_mind }} Team</a></div>

				{% comment %}
				<div class="add-team-button">ADD NEW TEAM MEMBER</div>
				<div class="add-team-button">EDIT YOUR PROFILE</div>
				{% endcomment %}
			</div>
			<div class="col-md-9">
				<div class="col-md-4 bio-col">
                    <p><span><em>Name:</em></span> {{ member.get_full_name }}</p>
                    <p><span><em>Local mind:</em></span> {{ member.local_mind }}</p>
                    {% if member.job_title %}
                    <p><span><em>Job title:</em></span> {{ member.job_title }}</p>
                    {% endif %}
                    {% if member.website %}
                    <p><span><em>Website:</em></span> <a href="{{ member.website }}">{{ member.website }}</a></p>
                    {% endif %}
				</div>
				<div class="col-md-4 bio-col">
					<p><span><em>Email:</em></span> <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
                    {% if member.twitter %}
                    <p><span><em>Twitter:</em></span> @{{ member.twitter }}</p>
                    {% endif %}
                    {% if member.telephone %}
                    <p><span><em>Office number:</em></span> {{ member.telephone }}</p>
                    {% endif %}
				</div>
				<div class="col-md-4 bio-col">
                    {% if member.biography %}
					<p><span><em>Bio</em></span></p>
                    {{ member.biography|linebreaks|urlize }}
                    {% endif %}
				</div>
				<div class="bio-divider"></div>
				<div class="col-md-9 bio">

                    {% if member.skills %}
                        <h5><strong>Skills</strong></h5>
                        <p class="skill">{{ member.skills|urlize }}</p>
                    {% endif %}

                    {% if member.experiences.all %}
                        <h5><strong>Experience</strong></h5>
                        {% for experience in member.experiences.all %}
                            <p class="skills">{{ experience }}</p>
                        {% endfor %}
                    {% endif %}

                    {% comment %}
					<h5><strong>LATEST ACTIVITY</strong></h5>
					<ul style="padding:0px">
						<li style="display:block; padding-bottom:5px;"> <span>New Video Added - on 01/09/14 - <a href="video.html">Mind Cymru Open Day</a></span></li>
						<li style="display:block; padding-bottom:5px;"><span>New Document Uploaded - on 01/09/14 - <a href="#">10 Top Tips for Tendering</a></span></li>
						<li style="display:block; padding-bottom:5px;"><span>Quailty Mark Updated - on 28/08/14 - <a href="#">Quality Mark</a></span></li>
					</ul>
                    {% endcomment %}

				</div>
			</div>

			<div style="clear:both"></div>

		</div>
	</div>
</div> <!-- CONTENT -->

{% endblock %}
