<!DOCTYPE html>
<html class="no-js">
<head>{% load compress %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} · {{ site.name }}</title>
    <meta name="title" content="" />
    <meta name="classification" content="" />
    <meta name="robots" content="all, index, follow" /><!-- ALL ROBOTS -->
    <meta name="googlebot" content="all, index, follow" /><!-- GOOGLE -->
    <meta name="google-site-verification" content="" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="language" content="en-GB" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-After" content="14 days" />
    <meta name="distribution" content="global" />
    <meta name="author" content="Angelo Petsas" />
    <meta name="copyright" content="Copyright 2010 London M/A Work Ltd // Art Direction // Digital Media // Advertising // Design. All Rights Reserved." />

    <!-- Designed and Created by M/A // Art Direction // Digital Media // Advertising // Design // www.ma-work.co.uk -->

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/html5reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/typography.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/handheld.css" media="handheld" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print" />
    {% endblock %}{% endcompress %}

    <script src="{{ STATIC_URL }}js/libs/modernizr-1.6.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body id="{% block bodyid %}default{% endblock %}">{% block body %}
<div id="sitewrapper">
    <header id="header">
        <h1>site name</h1>
        <nav><ul>
            <li><a href="/">homepage</a></li>
        </ul></nav>
    </header>
    <section id="main">
        {% block content %}{% endblock %}
    </section>
    <footer id="footer">
        {% block footer %}{% endblock %}
    </footer>
</div>

{% compress js %}{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/init.js"></script>
{% endblock %}{% endcompress %}

{# remove if no analytics is used #}
{% block analytics %}
{% if GOOGLE_ANALYTICS_SITE_ID %}
<script type="text/javascript">
var _gaq = [['_setAccount', '{{ GOOGLE_ANALYTICS_SITE_ID }}'], ['_trackPageview']];
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
{% endif %}
{% endblock %}

{% endblock %}</body>
</html>
