/*
Title:      M/A London @madebyMA
Author:     @M/A London http://ma-work.co.uk
*/

// BOOSTRAP
$icon-font-path: "../../libs/sass-bootstrap/fonts/";
@import "bootstrap";

// UTILITIES
@import "utils/vars";                 // locations for all colour and predefined variables
@import "utils/mixins";               // useful mixins for reusable tasks
@import "utils/clearfix";             // shorthand clearfix


// MIND THEME
@import "mind/forms";
@import "mind/devices.scss";


body {
  background: url(#{$mind-logo}) repeat-x fixed 0 0;
}
