/*
Title:      M/A London @madebyMA
Author:     @M/A London http://ma-work.co.uk
*/

// BOOSTRAP
$icon-font-path: "../../libs/sass-bootstrap/fonts/";
@import "bootstrap";

// UTILITIES
@import "utils/vars";                 // locations for all colour and predefined variables
@import "utils/mixins";               // useful mixins for reusable tasks
@import "utils/clearfix";             // shorthand clearfix


// MIND THEME
@import "mind/fonts";                 // Avenir font declarations using fonts.com
@import "mind/forms";                 // Boostrap 3.0 form override styles
@import "mind/gridster";              // used for the dahsboard node management

@import "mind/base";                  // general and base styles
@import "mind/navigation";            // main top-bar navigation
@import "mind/dashboard";             // Dashboard base styles
@import "mind/dash-sidebar";          // Dashboard 'fly-out' sidebar
@import "mind/dash-nodes";            // Dshboard node components
@import "mind/devices";               // Device overrides

@import "mind/video";

@import "mind/team";
