<div class="modal fade" id="modal-form">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-close close" data-dismiss="modal" aria-hidden="true"></div>
        <div class="modal-body">
            <div class="logo-form"></div>
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" novalidate="">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="row">
                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-9">

                        <div class="modal-icon" id="icon_externalNews"></div><h2>UPDATE MQM</h2>

                        </div>
                    </div>

                     <div class="form-group">
                     <label>Choose Lead Contact for MQM</label>
                     <select class="form-control">
                          <option>Jane Smith</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                     </div>

                    <strong class="h4">GOVERNENCE</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>1. Understands and complies with its governing document</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is an up-to-date governing document (registered with the Charity Commission) which trustees are aware of, comply with and review at regular intervals for appropriateness.</p>

<p>Trustee appointment and retirement is in line with the governing document. There are trustee appointment and retirement records. There is a properly constituted Board e.g. correct number of trustees, appointed in the right way (by members, by the board, by a third party) and for the correct length of time.</p>

<p>[The Board are the people legally responsible under the organisation’s governing document for controlling the management and administration of the organisation – typically called Trustees, Directors or the Management Committee.]</p>"></textarea>
                        <input type="file" name="" class="form-control">
                        <span class="help-block">Please upload Governing document - file name should be...</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>2. Ensures compliance with legal requirements</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>Trustees are aware of, and plan adequately for, the legal requirements the organisation is required to comply with: for example charity, company, tax, employment, health and safety, equality, data protection, safeguarding and Care Quality Commission (this is not an exhaustive list).</p>

<p>There is a trustee induction procedure which ensures all trustees are informed of the legal requirements the organisation is required to comply with. Trustees get the appropriate legal advice, guidance and support to inform their decisions and discuss this during trustee meetings.</p>"></textarea>
                        <input type="file" name="" class="form-control">
                        <span class="help-block">Trustee induction procedure (2), Minutes of last two trustee meetings (3)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>3. Has a procedure for trustee recruitment, appointment, induction and training</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is a procedure for trustee recruitment, appointment, induction and training. There is a trustee eligibility check procedure. Prospective trustees are checked for their eligibility and suitability to act in that capacity. Trustees attend an interview and receive an appointment letter, role description, induction and training. They sign a trustee declaration form annually and complete a DBS check if appropriate.</p>

<p>The organisation understands the importance of acquiring a mix of skills on the board and conducts a skills audit to ensure trustees are suitably skilled for the task of being a trustee. Trustees understand the roles and responsibilities of the charity’s trustees generally, trustees with specific roles (e.g. Chair, Treasurer) and senior staff.
</p>"></textarea>
                        <input type="file" name="" class="form-control">
                        <span class="help-block">Trustee eligibility check procedure (4)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>4. Manages organisational risk including conflicts of interest effectively</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is an organisation­wide risk assessment including risks regarding governance, operational, financial, external factors and compliance with law and regulation. Trustees have a risk­based approach to planning and managing the charity’s business. There are regular trustee reviews of organisation­wide risk assessment.</p>

<p>There is a conflict of interest policy. Trustees successfully manage conflicts of interest; exercise discretion in planning and managing the charity’s business and act only in the interests of the charity when considering projects or ventures. Trustees understand what conflicts of interest comprise and how they are being managed. [A conflict of interest is a situation in which an organisation or individual has competing personal or professional interests.]
</p>"></textarea>
                        <input type="file" name="" class="form-control">
                        <span class="help-block">Organisation­wide risk assessment (5), Conflicts of interest policy (6)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>5. Ensures trustees delegate authority appropriately and in accordance with the governing documents
</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
The trustee meeting minutes show delegation of authority. This can also be seen in staff job descriptions, the staff structure chart and supervision arrangements for the CEO. Trustees understand what their governing document says about delegation of authority and they comply with this.</p>"></textarea>
                        
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>6. Carries out planning and has a plan for a minimum of one year ahead (in accordance with the Charity Commission Effective Business Planning Documents)</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is a plan which shows how resources will be managed over at least the following year in order to achieve objectives. There are planning meetings and the organisation understands the importance of planning.</p>

<p>Business activities are in line with the charity’s objects stated in the governing document. Trustees are aware of their charity’s objects; consider new projects and new directions in the light of their charity’s objects; regularly review the charity’s business /activities including check of match with objects; ensure that business plans are designed to meet the objects; use business planning that starts with objects then cascades through aims, mission, values etc</p>"></textarea>
                        <input type="file" name="" class="form-control">
                        <span class="help-block">Current annual business plan (7)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>7. Ensures that it has the correct structure (people) and resources (finance) to deliver the plan</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is a record of planning meetings to review the organisation’s structure and resources to ensure it has the capacity to deliver the plan. The organisation understands the importance of having the correct structure and resources in place to deliver the plan.</p>"></textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>8. Regularly reviews its policies and procedures</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is an index of policies and procedures with review dates. There are meetings to review the policies and procedures and the organisation understands the importance of reviewing the policies and procedures. Policies and procedures are up­to­date, available to all and followed.</p>

<p>[A policy is a clear statement of intent about how an organisation will behave over defined issues. A procedure is a written description of how to carry out a task.]</p>"></textarea>
                        <input type="file" name="" class="form-control">
                        <span class="help-block">Index of policies and procedures with review dates (8)</span>
                        </div>
                    </div>

                    <hr>

                    <strong class="h4">PARTNERSHIP</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>9. Works effectively with other organisations in order to achieve its objectives</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There are examples of identifying and co­operating with other agencies who could help the organisation reach its objectives. The organisation works in partnership with other agencies (e.g. signposting arrangements, joint­bidding or joint­delivery). Trustees, staff and volunteer are aware of the agencies that the organisation works in partnership with. (N.B. In a later indicator we ask you specifically about working with others in the Mind network).</p>"></textarea>
                        </div>
                    </div>

                     <hr>

                    <strong class="h4">FINANCE</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>10. Agrees and sets a budget sufficient to carry out its agreed operations annually and regularly monitors financial performance against it</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is an annual budget. During trustee meetings, trustees approve the annual budget and monitor financial performance against it. Trustees understand the budget and how to monitor financial performance.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Annual budget (9)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>11. Complies with all legal financial requirements and has relevant financial policies and procedures and financial controls including fraud prevention</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There are policies for operational management of finance and managing financial risk including reserves, and financial control procedures.</p>
                            <p>There is an annual report that includes an explanation of what the charity has done for public benefit in the year and the extent to which it has achieved its charitable purposes. The annual accounts are unqualified if audited. The organisation ensures annual report /accounts are filed on time with Charity Commission.</p>
                            <p>There are meetings to review financial legal requirements and appropriate use of expert advice. The organisation understands its legal financial requirements. Fundraising is ethical as per Mind’s Membership Agreement.</p>
                            "></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Policy for operational management of finance (10) Policy for managing financial risk including reserves policy (11) Financial control procedures (12) Annual report (13)</span>
                        </div>
                    </div>

                    <hr>
                    <strong class="h4">PEOPLE</strong>

                     <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>12. Has key employment policies and procedures</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>There is a list of key employment policies covering issues including recruitment, disciplinary, grievance, workplace well­being, sickness, learning and development, equality and diversity, whistle­blowing, right to work, redundancy and parental leave. Staff are recruited and selected in accordance with policies on recruitment and selection and equality and diversity. Staff can access all employment policies. Staff understand their rights and responsibilities within key employment policies</p>"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>13. Ensures staff and volunteers are effectively recruited, supported, trained and appraised</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There are job descriptions and employment contracts for all staff. There are role descriptions and volunteer agreements for all volunteers. There is an induction procedure for all new staff and volunteers and records of induction are kept. All staff receive regular supervision and an annual appraisal. There is an annual training plan and a training budget. Staff and volunteers confirm that they have received sufficient training and support to carry out their roles effectively.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Staff induction procedure (15)</span>
                        </div>
                    </div>


                    <hr>
                    <strong class="h4">RESOURCES</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>14. Ensures confidentiality and data protection</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is a policy and procedure for confidentiality and for data protection, including the use of social media where appropriate. Service user information is stored securely and they have clear rights of access to their records. Staff and volunteers understand their roles and responsibilities in these policies and explain the policies to service users.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Confidentiality policy (16) Data protection policy (17)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>15. Ensures that there is sufficient ICT, it is effectively used, it is protected against viruses and important data is backed up</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is an ICT policy. There are meetings to review the effectiveness of ICT, virus protection and data back­up. There is sufficient ICT equipment. Staff and volunteers understand their roles and responsibilities in this policy.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">ICT policy (18)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>16. Minimises its negative environmental impact and can demonstrate how it does this</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is an environmental policy. There are meetings to review how negative environmental impact can be minimised. Staff and volunteers understand their roles and responsibilities in this policy.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Environmental policy (19)</span>
                        </div>
                    </div>

                    <hr>
                    <strong class="h4">ENGAGEMENT AND PARTICIPATION</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>17. Involves people with experience of mental health problems effectively in governance and management
</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is an engagement and participation procedure which ensures people with experience of mental health problems are supported to influence and participate in governance and management. This may include engagement and participation in service design, service evaluation or the opportunity to be a Trustee (subject to necessary permissions in the governing document) or membership of any committees. People with experience of mental health problems are aware of the engagement and participation opportunities.
</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Engagement and participation procedure (20)</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>18. Asks service users what they think about the services provided, makes improvements based on feedback and informs services users of improvements</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There are examples of how service user feedback has led to service improvement. There are a variety of user feedback mechanisms in place. Feedback is analysed and used to make improvements. Services users are informed about how their feedback has improved the service. There is an accessible and easily used complaints procedure; records are kept of complaints and the actions taken as a result of them. Service users are aware of the feedback mechanisms and the complaints procedure.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Complaints procedure (21)</span>
                        </div>
                    </div>

                    <hr>
                    <strong class="h4">ONE MIND</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>19. Actively contributes to the Mind network</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There are examples of good working relations with other local Minds, Mind Retail and Mind. Service users receive Mind branded marketing materials and are informed about the Mind membership. The organisation understands the Mind brand, values and the network strategy.
</p>"></textarea>
                        </div>
                    </div>

                    <hr>
                    <strong class="h4">EQUALITY AND DIVERSITY</strong>

                     <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>20. Is committed to equality and diversity and provides equal opportunities to users, volunteers, staff, trustees</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is an equality and diversity policy and procedure which is implemented and monitored. The organisation has knowledge of the local community and its make­up, and services provided are appropriate for that community. Trustees, staff and volunteers complete training in equality and diversity and understand the importance of equality and diversity.</p>"></textarea>
                            <input type="file" name="" class="form-control">
                            <span class="help-block">Equality and diversity policy and procedure (22)</span>
                        </div>
                    </div>
                    <hr>
                    <strong class="h4">QUALITY OF SERVICE</strong>

                     <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>21. Provides a consistent and effective service to all service users</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is a procedure for service delivery and templates for conducting service user needs assessments and reviewing progress. Service user needs are assessed and plans are made to meet them. Service users are centrally involved in their individual needs assessment and service planning. Signposting and onward referral is undertaken effectively. Progress against the plans is regularly assessed.</p><p>Up­to­date information about services provided and their costs (if any) is widely available in formats suitable for the target audience. Service users understand what the service is, how it aims to support them and how they are involved in the service to them.
[By effective we mean having the required results or effect; producing the intended benefits.]</p>"></textarea>
                          
                        </div>
                    </div>

                     <hr>
                    <strong class="h4">SAFETY OF SERVICE</strong>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>22. Has policies for managing risk to individuals including health and safety and protecting vulnerable users
</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
There is a health and safety policy, health and safety procedures, health and safety audit records, safeguarding policy and procedure, and staff /volunteer eligibility check procedure.</p>
<p>
There are regular meetings to review health and safety and safeguarding including risk assessments for the service environment. The organisation conducts regular health and safety audits and action is taken when issues are identified.</p>
<p>There is a safeguarding policy and procedure covering young people /vulnerable adults. Staff /volunteers complete DBS checks where required. Safeguarding incidents are recorded and dealt with.</p>
<p>The organisation understands the importance of managing risk to individuals including health and safety and protecting vulnerable users.</p>

"></textarea>
<input type="file" name="" class="form-control">
                            <span class="help-block">Health and safety policy (23) Health and safety procedures (24)
Health and safety audit records (25) Safeguarding policy and procedure (26)
Staff /volunteer eligibility check procedure (27)</span>
                          
                        </div>
                    </div>

                    <hr>
                    <strong class="h4">MONITORING AND EVALUATION</strong>

                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p>23. Monitors and evaluates its services and makes improvements as a result of this</p>
                            <textarea class="form-control withPopover" name="" rows="5" maxlength="360" data-toggle="popover" data-content="<p>
The organisation has a variety of mechanisms for monitoring services on an ongoing basis. Staff collect service user data and enter it into a database, spreadsheet or file. The data is analysed, evaluated and improvements are made as a result of the evaluation. There are examples of service evaluations and improvements made as a result of them. Staff understand how to collate
service user data and the organisation understands the importance of monitoring, evaluating and improving services.</p><p>[Monitoring is the routine, systematic collection and recording of information about performance. Evaluation means using monitoring and other information to judge the performance of an organisation.]</p>"></textarea>
                          
                        </div>
                    </div>






                    <!-- STOP -->
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
window.setTimeout(function(){
//dev tests, eventually move this to a better home
$('.withPopover').popover({
    trigger: 'focus',
    placement: 'left',
    html:true
});
},200);

</script>