{% extends "base.html" %}
{% comment %}





NON INTEGRATED VERSION






{% endcomment %}
{% load djangular_tags webdesign %}

{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_document"><span></span>ENGINE ROOM</h3>
    <a href="{% url "dashboard"%}" class="page-close"></a>

    
     
     <div class="row">
       
       <div class="col-md-12">
       <div class="row">
       <p class="margin-30-bottom">Choose a Category</p>
       </div>
       <ul id="engineRoomList" class="clearfix">
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
         <li><a href="#" class="detail"><h2>BRANDING</h2><p>23 Files</p><p>Last updated 03/04/2012</p><p>Total Downloads 245</p></a><div class="feature"></div></li>
       </ul>

       </div>        
          
        </div>

    
    </div>
  </div> <!-- CONTENT -->

  {% endblock %}