{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}dist/styles/gridster.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}dist/styles/calendar.css">
{% endblock %}

{% block content %}

{% include "includes/sidebar.html" %}
<div class="modal fade" id="sharedModal" tabindex="-1" role="dialog" aria-labelledby="sharedModal" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
	<div id="content" class="clearfix">

		{% include "includes/topbar.html" %}

		<div class="container-fluid">

		<h3 class="withIcon icon_calendar"><span></span>EVENT DIARY</h3>
			<a href="/" class="page-close"></a>

		<button class="btn btn-default action_addNew" data-type="Event">ADD NEW EVENT</button>
		<br><br>
		
		<div id="team-content">
			
			<div class="row">
			<div class="col-md-2">
				<h4>AVALIABLE CALENDARS</h4>
				<p class="small">Click on the regions below to see them in you calendar</p>
			</div>
  			<div class="col-md-9">
  				 <div id="calendar"></div>
  			</div>
  
			</div>

		</div>
		</div>

	</div> <!-- CONTENT -->
	
{% endblock %}