{% extends "base.html" %}
{% load djangular_tags webdesign %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}dist/styles/gridster.css" />
{% endblock %}

{% block content %}

{% include "includes/sidebar.html" %}
	<div id="content" class="clearfix">
		{% include "includes/topbar.html" %}
		<div class="container-fluid">

		<h3 class="withIcon icon_map"><span></span>FUNDING MAP</h3>
			<a href="/" class="page-close"></a>

		<button class="btn btn-default">ADD A FUND</button>


		<div id="team-content">
			
			<div class="row">
			<div class="col-md-3">
			<p>Content goes here</p>
			</div>
  			<div class="col-md-8">
  				<p>Content for map goes here</p>
  			</div>
  
			</div>

		</div>
		</div>
	</div> <!-- CONTENT -->

{% endblock %}