{% extends "base.html" %}
{% comment %}





NON INTEGRATED VERSION






{% endcomment %}
{% load djangular_tags webdesign %}

{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_nationalMind"><span></span>NATIONAL MIND UPDATES</h3>
    <a href="{% url "dashboard"%}" class="page-close"></a>

    
     
     <div class="row">
       <div class="col-md-6 col-md-offset-3">
        <h4>AN AMAZING DAY WITH LEEDS MIND</h4>
        <p class="small">September 23rd 2014 - posted by Martin Vowles - Swindon Mind</p>
        <p>Lorem ipsum,  dolor sit amet, consectetur adipiscing elit. Suspendisse dictum convallis ante, quis rutrum risus porttitor in. Curabitur sodales, nibh vitae mattis convallis, metus est consectetur mauris, et ultrices massa odio in sem. Morbi a sollicitudin sem. Maecenas malesuada, diam. </p>
        <p>Quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
        <p>Morbi a sollicitudin sem. Maecenas malesuada, diam quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis. Lorem ipsum,  dolor sit amet, consectetur adipiscing elit. Suspendisse dictum convallis ante, quis rutrum risus porttitor in. 
          Curabitur sodales, nibh vitae mattis convallis, metus est consectetur mauris, et ultrices massa odio in sem. Morbi a sollicitudin sem. Maecenas malesuada, diam.</p>
          <p>Quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
          <p>Morbi a sollicitudin sem. Maecenas malesuada, diam quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis.</p>
          <hr>
          <img src="" class="img-responsive">
          <h4>AN AMAZING DAY WITH LEEDS MIND</h4>
          <p class="small">September 23rd 2014 - posted by Martin Vowles - Swindon Mind</p>
          <p>Lorem ipsum,  dolor sit amet, consectetur adipiscing elit. Suspendisse dictum convallis ante, quis rutrum risus porttitor in. Curabitur sodales, nibh vitae mattis convallis, metus est consectetur mauris, et ultrices massa odio in sem. Morbi a sollicitudin sem. Maecenas malesuada, diam. </p>
          <p>Quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
          <p>Morbi a sollicitudin sem. Maecenas malesuada, diam quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis. Lorem ipsum,  dolor sit amet, consectetur adipiscing elit. Suspendisse dictum convallis ante, quis rutrum risus porttitor in. 
            Curabitur sodales, nibh vitae mattis convallis, metus est consectetur mauris, et ultrices massa odio in sem. Morbi a sollicitudin sem. Maecenas malesuada, diam.</p>
            <p>Quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
            <p>Morbi a sollicitudin sem. Maecenas malesuada, diam quis sagittis ullamcorper, quam massa hendrerit odio, vel aliquam dolor sapien non odio. Sed pellentesque tincidunt ante, vel mattis metus ultrices sed. Interdum et malesuada fames ac ante ipsum primis.</p>
            <hr>


          </div>
          
          
        </div>

    
    </div>
  </div> <!-- CONTENT -->

  {% endblock %}