{% extends "base.html" %}
{% load floppyforms %}


{% block content %}

<div id="content" class="clearfix">

  {% include "includes/topbar.html" %}

  <div class="container-fluid">

    <h3 class="withIcon icon_person"><span></span>INVITE USERS</h3>
    <a href="{% url "dashboard"%}" class="page-close"></a>
{% comment %}
    <button class="btn btn-default action_addNew" data-type="News">ADD NEW POST</button>
    {% endcomment %}


    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
    {% form form using %}
        {% formconfig row using "forms/signup_row.html" %}

        <div class="row">
            <div class="col-md-6">
                {% formrow form.first_name %}
            </div>
            <div class="col-md-6">
                {% formrow form.last_name %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.email %}
            </div>
            <div class="col-md-6">
                {% formrow form.privileges with label="Access Level <span class='glyphicon glyphicon-info-sign'></span>" tooltip="Remember this is where you decide what level of access you want each person to have. -- Super user: This level allows users to have full access to all aspects of the hub nodes and dashboards -- Admin: This level allows access to all aspects of the hub nodes but will not be able to alter the local mind dash board -- General: This level of access allow for access to all the hub nodes apart from financial and ability to alter the local mind hub -- Intern: Will not be able to access the following nodes; Design Your Support, Buddy Search, The Net Work, Financial and will also not be able to alter the Local Mind Hub" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% formrow form.job_title %}
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <button type="submit" class="btn btn-default">Invite</button>

    {% endform %}
    </form>


  </div> <!-- CONTENT -->

{% endblock %}

