{% extends "base.html" %}
{% load djangular_tags thumbnail render_embeded %}
{% load url from future %}

{% block extra_js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/dev/gridster.js"></script>
<script src="{{ STATIC_URL }}js/dev/app.js"></script>
{% endblock %}

{% block content %}

<!--
    DASHBOARD SIDEBAR
-->
{% include "includes/sidebar.html" %}


<div id="content">
    {% include "includes/topbar.html" with dashboard="true" %}
    <div class="gridster">
        <ul></ul>
    </div><!-- End of gridster -->
</div>


<!--
ADD CONTENT OVERLAY
-->
{% include "includes/overlay.html" %}


<!--
NODES START
-->

<!-- meet the team -->
{% include "dashboard/nodes/meet-the-team.html" %}

<!-- callout -->
{% include "dashboard/nodes/callout.html" %}

<!-- todos -->
{% include "dashboard/nodes/todos.html" %}

<!-- engine room -->
{% include "dashboard/nodes/engine-room.html" %}

<!-- openhub updates -->
{% include "dashboard/nodes/openhub-updates.html" %}

<!-- national mind updates -->
{% include "dashboard/nodes/national-mind-updates.html" %}

<!-- the net works -->
{% include "dashboard/nodes/net-works.html" %}

<!-- the lab news -->
{% include "dashboard/nodes/lab-news.html" %}

<!-- events diary -->
{% include "dashboard/nodes/events-diary.html" %}

<!-- buddy search -->
{% include "dashboard/nodes/buddy-search.html" %}

<!-- my local area -->
{% include "dashboard/nodes/my-local-area.html" %}

<!-- external news -->
{% include "dashboard/nodes/external-news.html" %}

<!-- video stream -->
{% include "dashboard/nodes/video-stream.html" %}

<!-- funding map -->
{% include "dashboard/nodes/funding-map.html" %}

<!-- positive news -->
{% include "dashboard/nodes/positive-news.html" %}

<!-- branding -->
{% include "dashboard/nodes/branding.html" %}


<!--
NODES END
-->


{% comment %}
<div class="areasofgrowth hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="areasofgrowth">
    <div class="widget-bar">
      <div class="widget-title">DESIGN YOUR SUPPORT</div>
      {% include "includes/widget-settings.html" with delatable="false" %}
    </div>
  </li>
</div>



<div class="hidden assetsExpenditure">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="assetsExpenditure">
    <div class="widget-bar">
      <div class="widget-title">
        ASSETS vs EXPENDITURE (%)
      </div>
      {% include "includes/widget-settings.html" %}
    </div>
    <img style="margin:25px 0 0 27px;" src="" alt="graph_services" width="233" height="192">
  </li>
</div>



<div class="diagnostic hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="diagnostic">
    <div class="widget-bar">
      <div class="widget-title">DIAGNOSTIC</div>
      {% include "includes/widget-settings.html" %}
    </div>
    <ul class='list-group'>

      <li class="list-group-item">
        <b>70% completed</b>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </li>
      <li class="list-group-item">Confirm all contact details for key staff are correctConfirm all contact details for key staff are correctConfirm all contact details for key staff are correctConfirm all contact details for key staff are correct</li>

    </ul>
  </li>
</div>


<div class="services hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="services">
    <div class="widget-bar">
      <div class="widget-title">OUR SERVICES</div>
      {% include "includes/widget-settings.html" with type="Service" %}
    </div>

    <ul class='list-group'>
      <a class='li list-group-item' href='#'>
        <span class='badge'>users</span>Type of service
      </a>
    </ul>
    <div class='list-group'>
    </div>
  </li>
</div>


<div class="netCurrentAssets hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="netCurrentAssets">
    <div class="widget-bar">
      <div class="widget-title">
        NET CURRENT ASSETS
      </div>
      {% include "includes/widget-settings.html" %}
    </div>
    <img style="margin:25px 0 0 27px;" src="" alt="graph_finance" width="233" height="192">
  </li>
</div>


<div class="collectiveimpact hidden">
  <li class="widget" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-name="collectiveimpact">
    <div class="widget-bar">
      <div class="widget-title">COLLECTIVE IMPACT</div>
    </div>
  </li>
</div>
{% endcomment %}




<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/markerclusterer.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  function initializeLocalMap() {

    var markers = Array();
    var infoBoxes = Array();
    var map;
    var mc; //marker cluster var

        var styles = [
        {
            "stylers": [
            { "hue": "#174787" },
            { "saturation": -75 }
            ]
        },{
            "featureType": "road.highway",
            "elementType": "labels.icon",
            "stylers": [
            { "visibility": "off" }
            ]
        }
        ]


        mapOptions = {
          center: new google.maps.LatLng(51.5072, 0.1275),
          zoom: 8,
          styles: styles,
          disableDoubleClickZoom: true,
            draggable: false,
            scrollwheel: false,
            panControl: false,
            controls:false,
            mapTypeControl:false,
            scaleControl:false,
            streetViewControl:false,
            overviewMapControl:false,
            rotateControl:false,
            zoomControl: false
      };
      map = new google.maps.Map(document.getElementById("map-canvas-local-area"),
        mapOptions);

      mc = new MarkerClusterer(map, markers);

//loop markers for local map


    {% for map in map_list %}
    markers.push(new google.maps.Marker({
        position: new google.maps.LatLng({{ map.latitude }}, {{ map.longitude }}),
        icon: '{{ map.marker_icon }}',
        title:"{{ map.name }}"
    }));
    {% endfor %}


      for(i = 0; i < markers.length; i++) {
     mc.addMarker(markers[i]);
    }

}

google.maps.event.addDomListener(window, 'load', initializeLocalMap);
</script>

<script type="text/javascript">
  function initializeNetworkMap() {

    var markers = Array();
    var infoBoxes = Array();
    var map;
    var mc; //marker cluster var

        var styles = [
        {
            "stylers": [
            { "hue": "#174787" },
            { "saturation": -75 }
            ]
        },{
            "featureType": "road.highway",
            "elementType": "labels.icon",
            "stylers": [
            { "visibility": "off" }
            ]
        }
        ]


        mapOptions = {
          center: new google.maps.LatLng(51.5072, 0.1275),
          zoom: 8,
          styles: styles,
          disableDoubleClickZoom: true,
            draggable: false,
            scrollwheel: false,
            panControl: false,
            controls:false,
            mapTypeControl:false,
            scaleControl:false,
            streetViewControl:false,
            overviewMapControl:false,
            rotateControl:false,
            zoomControl: false
      };
      map = new google.maps.Map(document.getElementById("map-canvas-network-map"),
        mapOptions);

      mc = new MarkerClusterer(map, markers);

     /* You will need to bind the data for the resources section here */

    {% for map in net_works %}
    markers.push(new google.maps.Marker({
        position: new google.maps.LatLng({{ map.latitude }}, {{ map.longitude }}),
        icon: '{{ map.marker_icon }}',
        title: "{{ map.name }}"
    }));
    {% endfor %}

    /*  *  */



      for(i = 0; i < markers.length; i++) {
     mc.addMarker(markers[i]);
    }

}

google.maps.event.addDomListener(window, 'load', initializeNetworkMap);
</script>

<script type="text/javascript">
  function initializeFundingMap() {

    var markers = Array();
    var infoBoxes = Array();
    var map;
    var mc; //marker cluster var

        var styles = [
        {
            "stylers": [
            { "hue": "#174787" },
            { "saturation": -75 }
            ]
        },{
            "featureType": "road.highway",
            "elementType": "labels.icon",
            "stylers": [
            { "visibility": "off" }
            ]
        }
        ]


        mapOptions = {
          center: new google.maps.LatLng(51.5072, 0.1275),
          zoom: 8,
          styles: styles,
          disableDoubleClickZoom: true,
            draggable: false,
            scrollwheel: false,
            panControl: false,
            controls:false,
            mapTypeControl:false,
            scaleControl:false,
            streetViewControl:false,
            overviewMapControl:false,
            rotateControl:false,
            zoomControl: false
      };
      map = new google.maps.Map(document.getElementById("map-canvas-funding"),
        mapOptions);

      mc = new MarkerClusterer(map, markers);

     /* You will need to bind the data for the resources section here */

    {% for funding in funding_list %}
    markers.push(new google.maps.Marker({
        position: new google.maps.LatLng({{ funding.latitude }}, {{ funding.longitude }}),
        icon: '/static/assets/img/ui/icons/map-markers/funding.png',
        title: "{{ funding.title }}"
    }));
    {% endfor %}

    /*  *  */



      for(i = 0; i < markers.length; i++) {
     mc.addMarker(markers[i]);
    }

}

google.maps.event.addDomListener(window, 'load', initializeFundingMap);
</script>



<script type="text/javascript">
$(document).ready(function(){

    $("#events-node").datepicker({
        nextText: "",
        prevText: ""
    });

  $.ajax({
            type: 'GET',
            url: 'http://maworaa2.miniserver.com/mindFeed/mindFeed.php',
            dataType: 'xml',
            success: function (xml) {
                $(xml).find("item").each(function () {
                    var title = $(this).find("title").text();
                    var description = $(this).find("description").text();
                    var linkUrl = $(this).find("link").text();
                    var link = "<a href='" + linkUrl + "' target='_blank'>Read More<a>";
                    $('#feedResults').append('<a target="_blank" href="'+linkUrl+'" class="list-group-item">'+title+'</li></a>');
                });
            }
        });
});

</script>
{% endblock %}
