{% extends "base.html" %}
{% load djangular_tags %}

{% block content %}

<div id="content" class="clearfix">

	{% include "includes/topbar.html" %}

	<div class="container-fluid">
		<h3 class="withIcon icon_document"><span></span>TASK QUEUE/ TODO’S</h3>
		<a href="{% url "dashboard" %}" class="page-close"></a>

        <button class="btn btn-default action_addNew" data-target="#modal-form"{% if show_form %} data-open{% endif %}>ADD NEW TASK</button>

        {% include "tasks/_task_form.html" with id="modal-form" form=form %}

		<br><br>

		<div class="row">
			<div class="col-md-12">
                {% if active_tasks %}
				<h4>Active</h4>

				<table class="table table-striped tasks-active">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>Assigned to</th>
							<th>Date added</th>
							<th>Complete by</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
                        {% for task in active_tasks %}
						<tr>
                            <td><input type="checkbox" value="{{ task.pk }}"{% if task.done %} checked{% endif %}></td>
                            <td>{{ task.text }}</td>
                            <td>{% if task.assigned_to %}{{ task.assigned_to }}{% endif %}</td>
							<td>{{ task.created|date:"d/m/Y" }}</td>
                            <td>{{ task.due_date|date:"d/m/Y" }}</td>
							<td>
                                {% comment %}Edit{% endcomment %}
                            </td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
                {% endif %}

				<hr>
                {% if completed_tasks %}
				<h4>Completed</h4>

				<table class="table table-condensed tasks-completed">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>Assigned to</th>
							<th>Date added</th>
							<th>Complete by</th>
						</tr>
					</thead>
					<tbody>

                        {% for task in completed_tasks %}
						<tr>
                            <td><input type="checkbox" value="{{ task.pk }}"{% if task.done %} checked{% endif %}></td>
                            <td>{{ task.text }}</td>
                            <td>{% if task.assigned_to %}{{ task.assigned_to }}{% endif %}</td>
							<td>{{ task.created|date:"d/m/Y" }}</td>
                            <td>{{ task.due_date|date:"d/m/Y" }}</td>
						</tr>
                        {% endfor %}

					</tbody>
				</table>
                {% endif %}

			</div>
		</div>
	</div>

</div> <!-- CONTENT -->

{% endblock %}
