/* BASE STYLES
-------------------------------------------------------- */

body {
  font-family: $base-font;
  background-color: $black;
  //background: url(#{$mind-logo}) repeat-x fixed 0 0;
}


a {
  color: $blue;
  @include transition();
  &:hover {
    color: darken( $blue, 10% );
    text-decoration: none;
  }
}


h1,h2,h3,h4,h5,h6 {
  @include Avenir-Roman();
}
