/* BASE STYLES
-------------------------------------------------------- */

body {
  font-family: $base-font;
  background-color: #d8dbdd;
  //background: url(#{$mind-logo}) repeat-x fixed 0 0;
}


a {
  color: $blue;
  @include transition();
  &:hover {
    color: darken( $blue, 10% );
    text-decoration: none;
  }
}


h1,h2,h3,h4,h5,h6 {
  @include Avenir-Roman();
}

 /* Reusable components
-------------------------------------------------------- */
.page-close {
  float:right;
  width:30px;
  height:30px;
  background-image:url(../../assets/img/ui/base/close.svg);
  background-repeat: no-repeat;
  position:absolute;
  right:60px;
  display: block;
  top:100px;
  -webkit-transition: all 0.7s;
  transition: all 0.7;
}

.page-close:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

 /* Responsive video
-------------------------------------------------------- */
.mediaObject {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 30px;
}

.mapObject {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
}
 
.mediaObject iframe,
.mediaObject object,
.mediaObject embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /* Icons
-------------------------------------------------------- */

.withIcon {color:#4d4d4f; margin: 30px 20px 30px 0px; font-size:20px; font-weight:bold;}
.withIcon span {position:relative;display:inline-block;float: left;margin-right:20px;}

.withIcon.icon_video span, #icon_video {width:66px; height:43px; background:url('/static/assets/img/ui/icons/icon_video.svg');}
.withIcon.icon_video span { line-height:43px;}

.withIcon.icon_document span,  #icon_document {width:48px; height:48px; background:url('/static/assets/img/ui/icons/icon_document.svg');}
.withIcon.icon_document { line-height:48px;}

.withIcon.icon_newspaper span, #icon_newspaper {width:62px; height:48px; background:url('/static/assets/img/ui/icons/icon_newspaper.svg');}
.withIcon.icon_newspaper { line-height:48px;}

.withIcon.icon_map span, #icon_map {width:34px; height:52px; background:url('/static/assets/img/ui/icons/icon_map.svg');}
.withIcon.icon_map { line-height:52px;}

.withIcon.icon_national span, #icon_national {width:52px; height:62px; background:url('/static/assets/img/ui/icons/icon_national.svg');}
.withIcon.icon_national { line-height:62px;}

.withIcon.icon_calendar span, #icon_calendar {width:51px; height:51px; background:url('/static/assets/img/ui/icons/icon_calendar.svg');}
.withIcon.icon_calendar { line-height:51px;}

.withIcon.icon_people span, #icon_people {width:92px; height:38px; background:url('/static/assets/img/ui/icons/icon_people.svg');}
.withIcon.icon_people { line-height:38px;}

.openHubLogo {width:181px; height:79px; background:url(/static/assets/img/brand/openhub-logo.svg);}
.no-svg .openHubLogo {background:url(/static/assets/img/brand/openhub-logo.png);}


.smallIcon {width:18px; height:18px; display:block; float:right; margin:16px 10px 10px 10px;}
.smallIcon.openAccordion {background:url(/static/assets/img/ui/icons/icon_plus.png); position:pointer;}
.smallIcon.closeAccordion {background:url(/static/assets/img/ui/icons/icon_close.png); position:pointer;}




//to move to a more appropriate home
.col-md-6.bordered {border-left:2px solid $blue;}

@media screen and (max-width: 992px) {
  .col-md-6.bordered {border-left:0px; border-top:2px solid #7f3f98; padding-top:5px;}
}


.media.dark {background: #E6E9EA}
.media-heading {padding-right:7px;}
.media img.media-object {margin-top:7px;}

#large-logos {
  width: 393px;
  height: 78px;
  margin:0 auto;
  margin-top:12px;
  margin-bottom:40px;
  background:url(/static/assets/img/brand/logo-bundle.png);
}

#map-canvas-local-area, #map-canvas-network-map {height:257px;}

#loginTabs {width:100px; margin-bottom:20px}
#loginTabs a {color:#000}
#loginTabs .active {color:#843995}
