/* DASHBOARD: structure and base styles
-------------------------------------------------------- */

#content {
  -webkit-transition: margin 0.3s ease-in-out;
  background:#d8dbdd;
  min-height:100%;
}

.push {
  margin-left: 405px;
}
