/* DEVICE OVERRIDES
-------------------------------------------------------- */


@media screen and (max-width: 1024px) {
//start

  #top-bar #search-bar {
    width: 250px;
  }

  #top-bar #profile {
    width: auto !important;
  }

  #top-bar #profile #person .username {
    display: none;
  }

//end
}
@media screen and (max-width: 360px) {
//start

  #top-bar #search-bar {
    display: none;
  }

 
}

@media screen and (max-width: 535px) {
//start

  #top-bar #search-bar {
    display: none;
  }

//end
}