/* FORMS
-------------------------------------------------------- */

[data-formset-prefix] {
    .add-another {
        cursor: pointer;
    }

    .template {
        display: none;
    }
}



.form-wrap {
	padding: 30px;
}

.form-horizontal {
	//width:636px;
	margin:30px auto;
	position: relative;

}

.form-horizontal input {
	//width:209px;
}

.form-horizontal .input-xlarge, .form-horizontal textarea {
	//width:535px;
	height:40px;
}

.form-horizontal .control-group {
	height:40px;
}

.form-horizontal .control-group .control-label {
	text-align: right;
	//width: 85px;
	padding-top: 10px;
}

.form-horizontal .control-group .controls {
	float:right;
	height:40px;
}

#Privacy {
	width:497px;
}

.control-group {
	margin-bottom:30px;
}

.form-horizontal input, .form-horizontal textarea {

	border:solid 1px $blue;
	outline:none;
	border-radius:4px;
	background:#fff;
	padding-left:20px;
	box-sizing:border-box;
}

.form-horizontal textarea {
	height: initial; //ignore height settings, set via HTML only
}


.modal-close {
  float:right;
  width:50px;
  height:50px;
  background-image:url(../../assets/img/ui/base/close.svg);
  background-size:contain;
  background-repeat: no-repeat;
  position:fixed; right:40px;
  top:60px;
  -webkit-transition: all 0.7s;
  transition: all 0.7;
  z-index: 100;
}

.modal-close:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#logo-form, .logo-form {
  width: 181px;
  height: 79px;
  background: url(/static/assets/img/brand/openhub-logo.svg);
  margin:0 auto;
}


.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {font-weight:100;}

.btn-default {border:1px solid $blue; text-transform:uppercase;background:#e6e7e8;color:#808285; padding: 6px 20px;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {background:$blue; color:#fff; border:1px solid $blue}
.form-group {margin-bottom:35px;}

.modal-content h2 {font-size:25px; margin-bottom:35px;color: #58595b}

.modal-content .modal-icon {opacity:0.7;}

.modal-content {
   #logo-form, .logo-form {
    float: left;width:100%;background-repeat: no-repeat; margin-bottom:40px;
  }
}

.modal-close, .modal-close:hover {opacity: 1;}


#mind-signup-form {
    #logo-form, .logo-form { margin-top:50px; }
}

#modal-form .form-horizontal {margin:0; height:100%;} 


#dots { list-style:none;width:120px; margin:0 auto;padding:0px;}
#dots li {width:20px; height:20px; border:1px solid #8C8C8E; border-radius:50%; float:left; margin-right:5px; }
#dots li:last-child {margin-right:0px;}
#dots li.filled {background:$blue;border-color:$blue;}

input[type="file"] {display: block;border: none !important;background: none !important;box-shadow: none !important; padding-left:0px !important}


